<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" novalidate class="cart ajaxcart">
      <div class="ajaxcart__inner">
        {{#items}}
        <div class="ajaxcart__product">
            <div class="ajaxcart__row" data-line="{{line}}">
                <div class="row gutter-sm ajaxcart-product-content">
                    <div class="col-4"><a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt="" class="rounded"></a></div>
                    <div class="col-8">
                        <p>
                          <a href="{{url}}" class="ajaxcart__product-name"><strong>{{name}}</strong></a>
                          {{#if variation}}
                            <span class="ajaxcart__product-meta">{{variation}}</span>
                          {{/if}}
                          {% endraw %}{% if settings.cart_vendor_enable %}{% raw %}
                            <span class="ajaxcart__product-meta">{{ vendor }}</span>
                          {% endraw %}{% endif %}{% raw %}
                        </p>
                        <p class="product-pricing">
                            {{#if discountsApplied}}
                              <small class="compare-price"><s>{{{originalLinePrice}}}</s></small>
                              <br><span class="product-price">{{{linePrice}}}</span>
                            {{else}}
                              <span class="product-price">{{{linePrice}}}</span>
                            {{/if}}
                            
                               <span class="compare-price ajax-compare-price">{{ productHandle }}</span>
                            {% endraw %}
                                {% assign handle = {{{ productHandle }}}%}
                                {{ all.variant.compare_at_price | money }}
                            {% raw %}
                        </p>
                    </div>
                </div>
                <div>
                    {{#if discountsApplied}}
                        {{#each discounts}}
                            <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                        {{/each}}
                    {{/if}}
                </div>
                <div class="ajaxcart__qty">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}">
                        <span class="icon icon-minus" aria-hidden="true"></span>
                        <span class="fallback-text" aria-hidden="true">&minus;</span>
                        <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
                      </button>
                      <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">
                        <span class="icon icon-plus" aria-hidden="true"></span>
                        <span class="fallback-text" aria-hidden="true">+</span>
                        <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
                      </button>
                </div>
                <div class="ajaxcart-error"></div>
                <div class="text-center">
                    <button type="button" class="remove-btn icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}"><span class="fas fa-times mr-1"></span>Remove</button>
                </div>
                <hr>
            </div>
        </div>
        {{/items}}

        {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
          <div>
            <label for="CartSpecialInstructions">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
          </div>
        {% endraw %}{% endif %}{% raw %}
      </div>
      
      <div class="ajaxcart__footer">
        <button type="submit" class="btn btn-secondary btn-block" name="checkout">
          {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}
        </button>
        <a href="/cart" class="btn btn-primary btn-block">{% endraw %}{{ 'cart.general.view_cart' | t }}{% raw %}</a>
      </div>
    </form>
  {% endraw %}
  </script>
  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
      </button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
      </button>
    </div>
  {% endraw %}
  </script>
