<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-circe-arrow" viewBox="0 0 19 19">
    <path fill="#000" fill-rule="evenodd" d="M12.441 9.023L8.308 4.889c-.292-.291-.59-.291-.895 0-.305.292-.298.583.02.875L11.09 9.46l-3.657 3.697c-.318.291-.325.583-.02.874.305.292.603.292.895 0l4.133-4.134a.53.53 0 0 0 .2-.437.53.53 0 0 0-.2-.437zm3.777-6.24C14.363.926 12.123 0 9.5 0S4.637.927 2.782 2.782C.927 4.637 0 6.877 0 9.5s.927 4.863 2.782 6.718C4.637 18.073 6.877 19 9.5 19s4.863-.927 6.718-2.782C18.073 14.363 19 12.123 19 9.5s-.927-4.863-2.782-6.718zm-.915 12.56c-1.59 1.59-3.517 2.385-5.783 2.385-2.266 0-4.207-.802-5.823-2.405C2.08 13.72 1.272 11.786 1.272 9.52s.808-4.207 2.425-5.823C5.313 2.08 7.254 1.272 9.52 1.272c2.266 0 4.2.808 5.803 2.425 1.603 1.616 2.405 3.557 2.405 5.823 0 2.266-.808 4.207-2.425 5.823z"/>
</svg>