<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-support" viewBox="0 0 21 16">
    <g fill="#000" fill-rule="evenodd">
        <path d="M18.535 15.992a1.74 1.74 0 0 0 1.191-.45L13.96 9.777l-.4.287c-.43.318-.78.566-1.05.744-.269.178-.626.36-1.073.545-.447.186-.863.278-1.25.278h-.022c-.386 0-.803-.092-1.25-.278a6.453 6.453 0 0 1-1.073-.545 26.749 26.749 0 0 1-1.05-.744l-.398-.288-5.768 5.768c.337.298.734.449 1.191.449h16.718zM1.147 6.145A6.021 6.021 0 0 1 0 5.157v8.773l5.082-5.082c-1.016-.71-2.326-1.61-3.935-2.703zM19.217 6.145a334.555 334.555 0 0 0-3.945 2.705l5.08 5.08V5.157a6.268 6.268 0 0 1-1.135.988z"/>
        <path d="M18.535 0H1.817C1.234 0 .786.197.472.59.157.986 0 1.478 0 2.068c0 .477.208.994.625 1.55.416.557.86.995 1.329 1.312.257.182 1.033.722 2.328 1.619a752.611 752.611 0 0 1 2.976 2.073l.17.12c.081.06.185.134.312.226.246.178.45.322.614.432.162.11.36.233.59.37.231.135.45.238.653.306.205.068.394.102.568.102h.022c.175 0 .364-.034.569-.102.204-.068.422-.17.653-.307.23-.136.427-.26.59-.369.163-.11.368-.254.614-.432a76.18 76.18 0 0 1 .483-.346l1.149-.799 4.166-2.893a5.402 5.402 0 0 0 1.386-1.396c.37-.545.556-1.117.556-1.715 0-.5-.18-.928-.54-1.284A1.757 1.757 0 0 0 18.535 0z"/>
    </g>
</svg>
