<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-user" viewBox="0 0 17 20">
    <g fill="#000" fill-rule="evenodd">
        <circle cx="8.446" cy="4.633" r="4.633"/>
        <path d="M8.446 11.583a8.398 8.398 0 0 0-8.398 8.398h16.796a8.398 8.398 0 0 0-8.398-8.398z"/>
    </g>
</svg>