<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
    <path fill="#000" fill-rule="nonzero" d="M19.695 18.206l-4.842-4.948A7.96 7.96 0 0 0 16.78 8.07C16.78 3.62 13.095 0 8.566 0 4.036 0 .35 3.62.35 8.07s3.685 8.07 8.215 8.07c1.7 0 3.32-.504 4.706-1.46l4.879 4.985c.204.208.478.323.772.323.278 0 .542-.104.742-.294a1.04 1.04 0 0 0 .03-1.488zm-11.13-16.1c3.349 0 6.072 2.675 6.072 5.964 0 3.29-2.723 5.965-6.071 5.965S2.494 11.36 2.494 8.07c0-3.289 2.724-5.965 6.072-5.965z"/>
</svg>