<svg aria-hidden="true" focusable="false" class="icon icon-support" viewBox="0 0 25 20">
    <g fill="#000" fill-rule="evenodd">
        <path fill-rule="nonzero" d="M22.742.012H5.888c-1.01 0-1.82.831-1.82 1.82v10.472c0 1.01.832 1.82 1.82 1.82h11.618l2.63 2.652c.112.112.247.18.404.18a.58.58 0 0 0 .584-.585v-2.247h1.618c1.011 0 1.82-.832 1.82-1.82V1.832c0-1.011-.831-1.82-1.82-1.82zm-14.27 9.01a1.698 1.698 0 0 1-1.685-1.685c0-.92.764-1.685 1.686-1.685.92 0 1.685.764 1.685 1.685 0 .922-.742 1.686-1.685 1.686zm5.91 0a1.698 1.698 0 0 1-1.685-1.685c0-.92.764-1.685 1.686-1.685.921 0 1.685.764 1.685 1.685 0 .922-.764 1.686-1.685 1.686zm5.888 0a1.698 1.698 0 0 1-1.685-1.685c0-.92.764-1.685 1.685-1.685.922 0 1.686.764 1.686 1.685 0 .922-.764 1.686-1.686 1.686z"/>
        <path d="M3.034 12.349V8.776H1.192C.54 8.776 0 9.315 0 9.966v6.877a1.182 1.182 0 0 0 1.19 1.236h1.057v1.483c0 .202.18.382.382.382a.372.372 0 0 0 .27-.112l1.73-1.73h7.64c.652 0 1.191-.54 1.191-1.192v-1.707H5.888a2.858 2.858 0 0 1-2.854-2.854z"/>
    </g>
</svg>
