{% if settings.instagram_user_id != blank %}
<div class="instagram block">
    <div class="block-content">
        <div class="container">
            {% if settings.instagram_title != blank %}
                <div class="heading-intro text-center">
                    <h2 class="h4"><a href="{{ settings.social_instagram_link | escape }}" target="_blank" rel="noopener"><span class="fab fa-instagram mr-2"></span><strong class="font-weight-black">{{ settings.instagram_title }}</strong></a></h2>
                </div>
            {% endif %}
        </div>
        <div class="instagram-grid">
            <div id="instafeed" class="insta-grid">
                <div class="grid-sizer grid-item"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}


{{ 'instafeed.js' | asset_url | script_tag }}
{%- assign instafeed_template = '<div class="grid-item"><a href="{{link}}" target="_blank" rel="noopener" class="instagram-image" style="background-image: url({{image}});"></a></div>' -%}
<script>
    var gridElem = document.querySelector('#instafeed');
    var msnry;
    var userFeed = new Instafeed ({
        get: 'user',
        userId: '{{ settings.instagram_user_id }}',
        accessToken: '{{ settings.instagram_token }}',
        limit: 9,
        resolution: 'standard_resolution',
        template: '{{ instafeed_template }}',
        after: function() {
            msnry = new Masonry('#instafeed', {
                itemSelector: '.grid-item',
                percentPosition: true,
                columnWidth: '.grid-sizer',
                transitionDuration: 0
            });
            msnry
            imagesLoaded( gridElem ).on( 'progress', function() {
                msnry.layout();
            });
        }
    });
    userFeed.run();


</script>