<div class="newsletter block">
	<div class="block-content">
		<div class="container">
			{% if section.settings.title != blank %}
				<div class="mb-4">
					<span class="subtitle">{{ section.settings.subtitle }}</span>
					<h4 class="h3"><strong class="font-weight-black">{{ section.settings.title }}</strong></h4>
				</div>
			{% endif %}
			<div class="newsletter-form">
				{%- assign formId = 'newsletter-form' -%}
				{% form 'customer', id: formId %}
					<div class="input-group">
						<input type="email"
						name="contact[email]"
						id="{{ formId }}-email"
						class="form-control"
						value="{% if customer %}{{ customer.email }}{% endif %}"
						placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
						aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
						aria-required="true"
						autocorrect="off"
						autocapitalize="off" required>
						<input type="hidden" name="contact[tags]" value="newsletter">
						<div class="input-group-append">
							<button type="submit" class="btn btn-white" type="button">{{ 'general.newsletter_form.submit' | t }}</button>
						</div>
					</div>
					{% if form.posted_successfully? %}
						<br>
                        <div class="note form-message--success mb-4">
                            {{ 'contact.form.post_success' | t }}
                        </div>
                    {% endif %}
				{% endform %}
			</div>
		</div>
	</div>
</div>


<script src="{{ 'jquery.validate.min.js' | asset_url }}"></script>
<script>
	$(function() {
	    $('#newsletter-form').validate({
	        submitHandler: function(form) {
	            form.submit();
	        },
	        showErrors: function() {
	            this.defaultShowErrors();
	        }
	    });
    });
</script>