<div class="pagination-content">
    {% unless paginate.previous.is_link %}
        <div class="paging page-prev">
            <button class="btn btn-outline-primary-light" disabled>{{ 'general.pagination.previous' | t }}</button>
        </div>
    {% else %}
        <div class="paging page-prev">
            <a href="{{ paginate.previous.url }}" class="btn btn-outline-primary-light">{{ 'general.pagination.previous' | t }}</a>
        </div>
    {% endunless %}
    <ul class="pagination">
        {% for part in paginate.parts %}
            {% unless part.is_link %}
                {% if part.title contains 'hellip' %}
                    <li><span class="deco">{{ part.title }}</span></li>
                {% else %}
                    <li class="active"><span>{{ part.title }}</span></li>
                {% endif %}
            {% else %}
                <li><a href="{{ part.url }}">{{ part.title }}</a></li>
            {% endunless %}
        {% endfor %}
    </ul>
    {% unless paginate.next.is_link %}
        <div class="paging page-next text-right">
            <button class="btn btn-outline-primary-light" disabled>{{ 'general.pagination.next' | t }}</button>
        </div>
    {% else %}
        <div class="paging page-next text-right">
            <a href="{{ paginate.next.url }}" class="btn btn-outline-primary-light">{{ 'general.pagination.next' | t }}</a>
        </div>
    {% endunless %}

</div>