<a href="{{ product.url | within: collection }}" class="panel">
	<div class="panel-content thumbnail thumbnail-product anim-image">
		<div class="thumbnail-image">
			{% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
			{%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
			{% if product.featured_image != blank %}
				{% if forloop.first %}
					<img id="{{ img_id }}"
						class="lazyload"
						src="{{ product.featured_image | img_url: '1000x1000' }}"
						data-src="{{ img_url }}"
						data-widths="[500, 1000, 1500, 2000, 2500, 3000, 3500]"
						data-aspectratio="{{ product.featured_image.aspect_ratio }}"
						data-sizes="auto"
						alt="">
				{% else %}
					<img id="{{ img_id }}"
						class="lazyload"
						src="{{ product.featured_image | img_url: '400x400' }}"
						data-src="{{ img_url }}"
						data-widths="[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]"
						data-aspectratio="{{ product.featured_image.aspect_ratio }}"
						data-sizes="auto"
						alt="">
				{% endif %}
			{% else %}
				{{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
			{% endif %}
		</div>
		<div class="thumbnail-desc">
			<p>{{ product.title }}</p>
			<div class="product-price">
				{% include 'product-price', variant: product %}
			</div>
		</div>
	</div>
</a>