{%- assign compare_at_price = product.compare_at_price -%}
{%- assign price = product.price -%}
{%- assign available = product.available -%}

{% assign date_published = product.published_at | date:'%Y%m%d' %}
{% assign date_now = 'now' | date:'%Y%m%d' %}
{% assign date_difference = date_now | minus: date_published %}

<a href="{{ product.url | within: collection }}" class="panel">
	<div class="panel-content thumbnail thumbnail-product anim-image">
		
		{% if available %}
			{% if compare_at_price > price %}
				<span class="product-badge badge-sale">{{ 'products.product.sale_price' | t }}</span>
			{% else %}
				{% if date_difference < 1 %}
			        <span class="product-badge badge-new">{{ 'products.product.new' | t }}</span>
			    {% endif %}
			{% endif %}

		{% else %}
		{% comment %}<span class="product-badge badge-soldout">{{ 'products.product.sold_out' | t }}</span>{% endcomment %}
		{% endif %}
		<div class="thumbnail-image">
			{% capture img_id %}ProductGridImage-{{ section.id }}-{{ product.id }}{% endcapture %}
			  {% capture wrapper_id %}ProductGridImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
			  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

			  {% unless product.featured_image == blank %}
			    {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
			  {% endunless %}

			  <div id="{{ wrapper_id }}" class="product-grid-image-wrapper js">
			    <div class="product-grid-image-inner" style="padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
			      <img id="{{ img_id }}"
			            class="product-grid-image lazyload"
			            src="{{ product.featured_image | img_url: '300x300' }}"
			            data-src="{{ img_url }}"
			            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
			            data-aspectratio="{{ product.featured_image.aspect_ratio }}"
			            data-sizes="auto" 
			            data-parent-fit="contain"
			            alt="{{ product.title | escape }}" style="{% if product.featured_image.aspect_ratio < 1.0 %}max-width: 100%; width: auto;{% else %}width: 100%;{% endif %}">
			    </div>
			</div>
		</div>
		<div class="thumbnail-desc text-center">
			<div class="product-grid-review">
                <style>
                    .jdgm-star {
                        padding-right: 7px !important;
                    }
                </style>
                {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
            </div>
			<p>{{ product.title }}</p>
			<div class="product-price">
				{% include 'product-price', variant: product %}
			</div>
		</div>
	</div>
</a>