<!-- snippet/product-price.liquid -->
{% if variant.title %}
  {%- assign compare_at_price = variant.compare_at_price -%}
  {%- assign price = variant.price -%}
  {%- assign available = variant.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

<div class="price" data-price>
	{% if available %}
        {% if compare_at_price > price %}
			<span class="price-item price-sale">{{ money_price }}</span>
			<span class="price-compare">{{ compare_at_price | money }}</span>
		{% else %}
			<span class="price-item">{{ money_price }}</span>
		{% endif %}
	{% else %}
		<span class="price-item">
			{{ 'products.product.sold_out' | t }}
		</span>
    {% endif %}
</div>
