<div class="promo-icons">
    <div class="container">
        <ul class="list-icons">
            {% for i in (1..5) %}
                {% capture iconImage %}promo_icon_{{ i }}{% endcapture %}
                {% capture iconDetails %}promo_text_{{ i }}{% endcapture %}
                <li>
                    <div class="icon-content">
                        {% if settings[iconImage] != blank %}
                            <div class="icon-image">
                                {%- assign img_url = settings[iconImage] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                    <img class="lazyload"
                                        src="{{ settings[iconImage] | img_url: '300x300' }}"
                                        data-src="{{ img_url }}"
                                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                        data-aspectratio="{{ settings[iconImage].aspect_ratio }}"
                                        data-sizes="auto"
                                        alt="{{ settings[iconImage].alt | escape }}">
                            </div>
                        {% endif %}
                        {% if settings[iconDetails] != blank %}
                            <div class="icon-details">
                                {{ settings[iconDetails] }}
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>