<div class="avatar-details support-chat">
    {% if settings.cs_title != blank %}
        <div class="avatar">
            <img src="{{ settings.cs_image | img_url: '120x120' }}" alt="">
        </div>
        <div class="details">
            <p class="mb-1"><strong>{{ settings.cs_title }}</strong></p>
            <ul class="list-inline list-inline-border h6 font-weight-medium">
                <li><a href="#"><span class="mr-1">{% include 'icon-support' %}</span> {{ settings.cs_chat }}</a></li>
                <li><a href="mailto:no-one@snai1mai1.com?subject=Inquiry on {{ product.title }}&body={{ product.url }}"><span class="mr-1">{% include 'icon-email' %}</span> {{ settings.cs_email }}</a></li>
            </ul>
        </div>
    {% endif %}
</div>