<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="{{ settings.color_button }}">
	<link rel="canonical" href="{{ canonical_url }}">

	{%- if settings.favicon != blank -%}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{%- endif -%}

	{%- capture seo_title -%}
		{%- assign escaped_page_title = page_title | escape -%}
		{%- unless escaped_page_title contains shop.name -%}
			{{ shop.name }} &ndash; 
		{%- endunless -%}
		{%- if template == 'search' and search.performed == true -%}
			{{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
		{%- else -%}
			&nbsp;{{ page_title }}
		{%- endif -%}
		{%- if current_tags -%}
			{%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
		{%- endif -%}
		{%- if current_page != 1 -%}
			&ndash; {{ 'general.meta.page' | t: page: current_page }}
		{%- endif -%}
	{%- endcapture -%}
	<title>{{ seo_title | strip }}</title>

	{%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
	{%- endif -%}

	{% include 'social-meta-tags' %}

	{{ 'theme.scss.css' | asset_url | stylesheet_tag }}
	{{ 'styles.scss.css' | asset_url | stylesheet_tag }}

	<script>
		var theme = {
			strings: {
				addToCart: {{ 'products.product.add_to_cart' | t | json }},
				soldOut: {{ 'products.product.sold_out' | t | json }},
				unavailable: {{ 'products.product.unavailable' | t | json }},
				regularPrice: {{ 'products.product.regular_price' | t | json }},
				sale: {{ 'products.product.on_sale' | t | json }},
				showMore: {{ 'general.filters.show_more' | t | json }},
				showLess: {{ 'general.filters.show_less' | t | json }},
				addressError: {{ 'sections.map.address_error' | t | json }},
				addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
				addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
				authError: {{ 'sections.map.auth_error_html' | t | json }},
				newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
				external: {{ 'general.accessibility.link_messages.external' | t | json }},
				newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }}
			},
			moneyFormat: {{ shop.money_format | json }}
		}

		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
	</script>


	{%- if template.directory == 'customers' -%}
		<script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
	{%- endif -%}

	<script src="{{ 'lazysizes.js' | asset_url }}"></script>
	<script src="{{ 'vendor.js' | asset_url }}"></script>
	<script src="{{ 'theme.js' | asset_url }}"></script>
	{%- if template contains 'product' -%}
		<script src="{{ 'bulk-add.js' | asset_url }}" defer="defer"></script>
	{%- endif -%}

	{{ content_for_header }}
  {% include 'judgeme_core' %}
</head>

<body class="template-{{ template | split: '.' | first }}">

	<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
	
	<div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

	{% unless page.handle == 'cryptopay' or page.handle == 'cryptopay-success' %}
		{% section 'header' %}
	{% endunless %}
	<div class="main js-focus-hidden" id="MainContent">
		{{ content_for_layout }}
	</div>
	{% unless page.handle == 'cryptopay' or page.handle == 'cryptopay-success' %}
		{% section 'footer' %}
	{% endunless %}

	<ul hidden>
		<li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
	</ul>

	{{ 'timber.js' | asset_url | script_tag }}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm, #AddToCartFormSticky',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart, #AddToCartSticky',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.MiniCart.open();
      });
    </script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
	<script src="{{ 'script.js' | asset_url }}"></script>
	
</body>
</html>
