<div class="block block-banner">
    <div class="block-image lazyload" data-bgset="{% include 'bgset', image: section.settings.bg_image %}" data-sizes="auto" style="background-image: url('{{ section.settings.bg_image | img_url: '300x300' }}');"></div>
    <div class="block-content justify-content-center text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <div class="heading-intro">
                        <h1><strong class="font-weight-black">{{ page.title }}</strong></h1>
                    </div>
                    {% if page.content.size > 0 %}
                        <div class="rte">
                            {{ page.content }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if section.settings.title != blank %}
<div class="block bg-gray-lighter">
    <div class="block-content">
        <div class="container">
            <div class="heading-intro text-center">
                <span class="subtitle">{{ section.settings.subtitle }}</span>
                <h2 class="h3"><strong class="font-weight-black">{{ section.settings.title }}</strong></h2>
            </div>
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <div class="accordion accordion-with-num">
                        {% for block in section.blocks %}
                            <div class="accordion-content">
                                <h4 class="lead accordion-toggle d-flex">
                                    <div class="flex-shrink-0">
                                        <span class="num-circle">{{ forloop.index }}</span>
                                    </div>
                                    <div class="flex-grow-1 align-self-center">
                                        <strong>{{ block.settings.p_title }}</strong>
                                    </div>
                                </h4>
                                <div class="accordion-content-inner">
                                    <div class="rte text-md">
                                        {{ block.settings.p_desc }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% schema %}
    {
        "name": "About Us",
        "settings": [
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "header",
                "content": "About Us - Content"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            }
        ],
        "blocks": [
            {
                "type": "principles",
                "name": "Principles",
                "settings": [
                    {
                        "type": "text",
                        "id": "p_title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "p_desc",
                        "label": "Description"
                    }
                ]
            }
        ]
    }
{% endschema %}