<div class="block bg-gray-lighter">
    <div class="block-content py-5">
        <div class="container">
            <div class="heading-intro text-center">
                <h1 class="h3"><strong>{{ page.title }}</strong></h1>
            </div>
            <div class="product-grid brand-grid">
                <div class="row grid">
                    <div class="grid-sizer col-6 col-md-4 col-lg-3"></div>
                    {% for product_vendor in shop.vendors %}
                        {% assign its_a_match = false %}
                        {% capture vendorHandle %}{{ product_vendor | handleize | strip | escape  }}{% endcapture %}
                        {% assign collectionHandle = vendorHandle | strip | escape %}
                        {%- assign collection = collections[collectionHandle] -%}
                        
                        {% for collection in collections %}
                            {% if collectionHandle == collection.handle %}
                                {% assign its_a_match = true %}
                            {% endif %}
                        {% endfor %}

                        {% if collection.image %}
                            {%- assign collection_image = collection.image -%}
                        {% else collection.products.first and collection.products.first.images != empty %}
                            {%- assign collection_image = collection.products.first.featured_image -%}
                        {% else %}
                            {% assign collection_image = blank %}
                        {% endif %}

                        <div class="grid-item col-6 col-md-4 col-lg-3">
                            {% if its_a_match %}
                                <a href="{{ collection.url }}" class="panel">
                                    <div class="panel-content thumbnail thumbnail-brand anim-image">
                                        <div class="thumbnail-image">
                                            <div class="image-wrapper">
                                                <img class="image-inner lazyload js"
                                                    src="{{ collection_image | img_url: '300x300' }}"
                                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                    data-aspectratio="{{ collection_image.aspect_ratio }}"
                                                    alt="{{ collection.title | escape }}">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% else %}
                                <a href="{{ product_vendor | url_for_vendor }}" class="panel h5">
                                    <div class="panel-content thumbnail thumbnail-brand anim-image">
                                        <div class="thumbnail-image">
                                            <strong>{{ product_vendor }}</strong>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Brands page",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Brands"
            }
        ]
    }
{% endschema %}