<div class="block" data-section-id="{{ section.id }}" data-section-type="cart-template">
    <div class="block-content">
        <div class="container">
          {% if cart.item_count > 0 %}
            <div class="heading-intro text-center text-md-left">
                <h1><strong>{{ 'cart.general.title' | t }}</strong></h1>
            </div>
            <form action="/cart" method="post" novalidate class="cart">
                <div class="row gutter-md">
                    <div class="col-lg-8">
                        <table class="cart-table">
                            <thead>
                                <tr>
                                    <th>{{ 'cart.label.product' | t }}</th>
                                    <th class="d-none d-md-table-cell">{{ 'cart.label.price' | t }}</th>
                                    <th class="text-center d-none d-md-table-cell">{{ 'cart.label.quantity' | t }}</th>
                                    <th class="d-none d-md-table-cell">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart.items %}
                                    <tr class="cart-row">
                                        <td class="cart-image-desc">
                                            <div class="d-md-flex">
                                                <div class="cart-image align-self-center flex-shrink-0">
                                                    <img src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}" data-item-url="{{ item.url }}">
                                                </div>
                                                <div class="cart-meta align-self-center">
                                                    <div class="cart-title">
                                                        <a href="{{ item.url }}"><strong>{{ item.product.title }}</strong></a>
                                                    </div>
                                                    {% unless item.variant.title contains 'Default' %}
                                                        <div class="cart-meta-text">
                                                            {% for option in item.product.options %}
                                                                {{ option }}: {{ item.variant.options[forloop.index0] }}<br/>
                                                            {% endfor %}
                                                        </div>
                                                    {% endunless %}

                                                    {% assign property_size = item.properties | size %}
                                                    {% if property_size > 0 %}
                                                    {% for p in item.properties %}
                                                        {% assign first_character_in_key = p.first | truncate: 1, '' %}
                                                        {% unless p.last == blank or first_character_in_key == '_' %}
                                                            {% unless p.last == item.title %}
                                                                {{ p.first }}:
                                                                {% if p.last contains '/uploads/' %}
                                                                    <a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                                {% else %}
                                                                    {{ p.last }}
                                                                {% endif %}
                                                                <br>
                                                            {% endunless %}
                                                        {% endunless %}
                                                    {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart-price">
                                            {% assign comparePrice = item.variant.compare_at_price %}
                                            {% assign price = item.price %}

                                            {% if comparePrice > price %}
                                                <span class="product-price sale">{{ price | money }}</span>
                                                <span class="compare-price pr-3">{{ comparePrice | money_without_trailing_zeros }}</span>
                                            {% else %}
                                                <span class="product-price pr-2">{{ price | money }}</span>
                                            {% endif %}

                                            {% for discount in item.discounts %}
                                                <div class="cart-item-discount">{{ discount.title }}</div>
                                            {% endfor %}

                                            <div class="cart__edit d-none">
                                                <button type="button" class="btn btn--secondary btn--small js-edit-toggle cart__edit--active" data-target="line{{ forloop.index }}" aria-label="{{ 'cart.general.edit' | t }} {{ item.product.title }}" aria-expanded="false">
                                                    <span class="cart__edit-text--edit">{{ 'cart.general.edit' | t }}</span>
                                                    <span class="cart__edit-text--cancel">{{ 'cart.general.cancel' | t }}</span>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="cart-qty-wrapper">
                                            <div class="cart__qty">
                                                <input class="cart__qty-input" type="number" name="updates[]" id="updates_large_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*" data-quantity-item="{{ forloop.index }}">
                                            </div>
                                        </td>
                                       {% comment %} <td>
                                            {% if item.original_line_price != item.line_price %}
                                                <div class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></div>
                                            {% endif %}

                                                <div>
                                                  {{ item.line_price | money }}
                                                </div>

                                            {% for discount in item.discounts %}
                                                <div class="cart-item__discount">{{ discount.title }}</div>
                                            {% endfor %}
                                        </td>{% endcomment %}
                                        <td class="cart-remove-wrapper">
                                              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart-remove" aria-label="{{ 'cart.general.remove' | t }} {{ item.product.title }}"><span class="fas fa-times mr-1"></span>{{ 'cart.general.remove' | t }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex mb-5 mb-lg-0">
                            <div class="align-self-center">
                                <a href="collections/all" class="btn btn-gray-lighter">
                                    {{ 'cart.general.continue_shopping' | t }}
                                </a>
                            </div>
                            <div class="align-self-center ml-auto">
                                <button type="submit" name="update" class="btn btn-gray-lighter cart__submit-control">{{ 'cart.general.update' | t }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-bordered panel-radius panel-shadow mb-3">
                            <div class="panel-top bg-gray-lighter">
                                <h4 class="h5"><strong>{{ 'cart.general.complete_order' | t }}</strong></h3>
                            </div>
                            <div class="panel-content">
                                <div class="d-flex mb-4">
                                    <div class="align-self-end">
                                        {{ 'cart.general.subtotal' | t }}
                                    </div>
                                    <div class="align-self-end ml-auto">
                                        {{ cart.total_price | money }}
                                    </div>
                                </div>
                                <hr>
                                <div class="d-flex">
                                    <div class="align-self-end">
                                        <strong class="h4">{{ 'cart.label.total' | t }}</strong>
                                    </div>
                                    <div class="align-self-end ml-auto">
                                        {{ cart.total_price | money }}
                                    </div>
                                </div>
                                {% if cart.total_discounts > 0 %}
                                    <div class="cart-savings">
                                        {{ 'cart.general.savings' | t }}
                                        <span class="cart__savings-amount">{{ cart.total_discounts | money }}</span>
                                    </div>
                                {% endif %}
                                {%- capture taxes_shipping_checkout -%}
                                  {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
                                    {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                  {%- elsif shop.taxes_included -%}
                                    {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
                                  {%- elsif shop.shipping_policy.body != blank -%}
                                    {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                                  {%- else -%}
                                    {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
                                  {%- endif -%}
                                {%- endcapture -%}
                                <div class="pt-4">
                                    <button type="submit" name="checkout" class="btn btn-primary btn-block">{{ 'cart.general.checkout' | t }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="cart-shipping text-sm">
                            {{ taxes_shipping_checkout }}
                        </div>
                        <br>
                        {% if section.settings.cart_notes_enable %}
                            <div class="cart-note">
                                <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                                <textarea name="note" id="CartSpecialInstructions" class="form-control">{{ cart.note }}</textarea>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="cart-footer">
                    
                </div>
            </form>

            
          {% else %}
            <div class="empty-page-content text-center">
              <h1><strong>{{ 'cart.general.title' | t }}</strong></h1>
              <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
              <div class="cookie-message">
                <p>{{ 'cart.general.cookies_required' | t }}</p>
              </div>
              <a href="/" class="btn btn-primary btm-fw-md cart__continue-btn">{{ 'general.404.link' | t }}</a>
            </div>
          {% endif %}
        </div>
    </div>
</div>



{% schema %}
{
  "name": {
    "de": "Warenkorb-Seite",
    "en": "Cart page",
    "es": "Página de carrito",
    "fr": "Page du panier",
    "it": "Pagina del carrello",
    "ja": "カートページ",
    "pt-BR": "Página do carrinho"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": {
        "de": "Warenkorb-Notifikationen erlauben",
        "en": "Enable cart notes",
        "es": "Habilitar notas de carrito",
        "fr": "Activer les notes de panier",
        "it": "Abilita note carrello",
        "ja": "カートメモを有効にする",
        "pt-BR": "Ativar observações sobre o carrinho"
      },
      "default": false
    }
  ]
}
{% endschema %}