{%- assign limit = section.settings.limit -%}
{% paginate collection.products by limit %}
<div data-section-id="{{ section.id }}" data-section-type="collection-template">
    <div class="breadcrumbs">
        {% include 'breadcrumb' %}
    </div>
    <div class="block bg-gray-lighter">
        <div class="block-content pt-md-5">
            <div class="container">
                <div class="main-top d-none d-md-flex">
                    <div class="align-self-center pr-2">
                        <h1 class="h3 mb-0"><strong class="font-weight-black">{{ collection.title }}</strong></h1>
                    </div>
                    <div class="ml-auto text-right align-self-center">
                        {% if section.settings.sort_enable %}
                            <div class="select-filter">
                                <select name="SortBy" id="SortBy" class="form-control" aria-describedby="a11y-refresh-page-message">
                                    <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                                    <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                                    <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                                    <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                                    <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                                    <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                                    <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                                    <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                                </select>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="heading-intro text-center d-md-none">
                    <h1 class="h3 mb-0"><strong class="font-weight-black">{{ collection.title }}</strong></h1>
                </div>
                <div class="main-content">
                    <div class="sidebar">
                        <div class="filter mb-2 mb-md-0">
                            <button type="button" class="accordion-toggle filter-toggle">{{ 'general.filters.filter' | t }}</button>
                            <div class="filter-content">
                                <div class="filter-content-inner">
                                    <div class="sidebar-content border-bottom-content">
                                        <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.type' | t }}</strong></h4>
                                        <ul class="list">
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Over-Ear</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">In-Ear</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Wireless</span>
                                                </label> 
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="sidebar-content border-bottom-content">
                                        <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.portability' | t }}</strong></h4>
                                        <ul class="list">
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Wired</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Wireless</span>
                                                </label> 
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="sidebar-content border-bottom-content">
                                        <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.features' | t }}</strong></h4>
                                        <ul class="list">
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Microphone</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Noise Canceling</span>
                                                </label> 
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="sidebar-content border-bottom-content">
                                        <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.brand' | t }}</strong></h4>
                                        <ul class="list">
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">64 Audio</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Astell&Kern</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Audeze</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Audio-Technica</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">AudioQuest</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Beyerdynamic</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Campfire Audio</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">Etymotic Research</span>
                                                </label> 
                                            </li>
                                        </ul>
                                        <a href="#"><strong>View All</strong></a>
                                    </div>
                                    <div class="sidebar-content border-bottom-content">
                                        <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.price' | t }}</strong></h4>
                                        <ul class="list">
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">$0 - $200</span>
                                                </label> 
                                            </li>
                                            <li>
                                                <label class="control checkbox">
                                                    <input name="radio" type="checkbox" class="filter-btn" value="">
                                                    <span class="control-indicator"></span>
                                                    <span class="control-label mr-3">$200 - $500</span>
                                                </label> 
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if section.settings.sort_enable %}
                            <div class="select-filter d-md-none">
                                <select name="SortBy" id="SortBy" class="form-control" aria-describedby="a11y-refresh-page-message">
                                    <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                                    <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                                    <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                                    <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                                    <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                                    <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                                    <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                                    <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                                </select>
                            </div>
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="product-grid block-margin">
                            <div class="row grid">
                                <div class="grid-sizer col-6 col-lg-3"></div>
                                {% for product in collection.products %}
                                    {% if forloop.first %}
                                        {%- assign max_height = 500 -%}
                                    {% else %}
                                        {%- assign max_height = 200 -%}
                                    {% endif %}
                                    <div class="grid-item{% if forloop.first %} col-6 col-md-12 col-lg-6 product-grid-featured{% else %} col-6 col-lg-3{% endif %}">
                                        {% include 'product-grid' %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if paginate.pages > 1 %}
                            {% include 'pagination' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endpaginate %}



{% schema %}
    {
        "name": "Collection pages",
        "settings": [
            {
                "type": "checkbox",
                "id": "sort_enable",
                "label": "Enable sorting",
                "default": true
            },
            {
                "type": "range",
                "id": "limit",
                "label": "Limit",
                "min": 11,
                "max": 25,
                "step": 1,
                "default": 21
            }
        ]
    }
{% endschema %}