<div class="block bg-gray-lighter cryptopay">
    <div class="block-content">
        <div class="container">
            <div class="text-center">
                <p class="mb-4"><a href="/" class="logo-image">headphones.com</a></p>
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9 mx-auto">
                        <div class="heading-intro">
                        <h2 class="h3"><strong class="font-weight-black">{{ section.settings.intro_title }}</strong></h2>
                        <div class="rte">
                            {{ section.settings.intro_desc }}
                        </div>
                    </div>
                    </div>
                </div>
                <ul class="step-list">
                    <li class="active">
                        <span class="step-circle"><em>1</em></span>
                        <br>
                        <span class="h6">Choose Your Currency</span>
                    </li>
                    <li>
                        <span class="step-circle"><em>2</em></span>
                        <br>
                        <span class="h6">Shipping Details</span>
                    </li>
                    <li>
                        <span class="step-circle"><em>3</em></span>
                        <br>
                        <span class="h6">Review & Complete</span>
                    </li>
                </ul>
            </div>
            <div class="step-slider">
                <div class="slider">
                    <div class="slide step-content">
                        <form class="step-form" method="get" action="">
                            <div class="panel-grid">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="panel h-lg-100">
                                            <div class="panel-content thumbnail panel-content-lg">
                                                <div class="thumbnail-desc mb-4">
                                                    <h3 class="h5 mb-0"><strong class="font-weight-black">SENNHEISER PXC 550</strong></h3>
                                                    <div class="product-price lead">
                                                        <span class="price-item">$349.95</span>
                                                    </div>
                                                </div>
                                                <div class="thumbnail-image mb-0">
                                                    <img src="{{ 'dummy-product.png' | asset_url }}" alt="" class="w-auto mx-auto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="panel d-flex flex-column h-lg-100">
                                            <div class="panel-content panel-content-lg">
                                                <h3 class="h5 mb-2"><strong class="font-weight-black">Choose Your Currency</strong></h3>
                                                <div class="row">
                                                    <div class="col-sm-9 col-lg-7 col-md-8">
                                                        <select class="form-control" id="currency" name="currency" required>
                                                            <option value="">Option</option>
                                                            <option value="option1">Option 1</option>
                                                            <option value="option2">Option 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-6 col-lg-5">
                                                        <p>
                                                            <strong>LTC / USD:</strong>
                                                            <br>
                                                            <span class="lead">29.7675243874</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-7">
                                                        <p>
                                                            <strong>Last Queried:</strong>
                                                            <br>
                                                            <span class="lead">15:23:01</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <br>
                                                <a href="#" class="btn btn-outline-gray-light btn-shadow">Refresh Price</a>
                                            </div>
                                            <div class="panel-content panel-content-lg mt-auto">
                                                <div class="d-sm-flex">
                                                    <div class="align-self-center">
                                                        <p class="line-height-sm">
                                                            <strong>You Pay:</strong>
                                                            <br>
                                                            <strong class="text-xl text-primary">13.4039 LTC</strong>
                                                        </p>
                                                    </div>
                                                    <div class="align-self-center ml-auto"> 
                                                        <a href="#" class="btn btn-primary btn-lg btn-fw btn-shadow next-step">Continue</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="slide step-content">
                        <form class="step-form" method="get" action="">
                            <div class="panel mb-0">
                                <div class="panel-content panel-content-lg">
                                    <div class="heading-intro text-center">
                                        <h3 class="h5"><strong class="font-weight-black">Enter Your Shipping Details</strong></h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-11 mx-auto">
                                            <div class="row block-margin">
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="email-address">Email Address:</label>
                                                        <input type="text" class="form-control" id="email-address" name="Email Address" placeholder="Please enter" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="fname">First Name:</label>
                                                        <input type="text" class="form-control" id="fname" name="First Name" placeholder="Please enter" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="lname">Last Name:</label>
                                                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Please enter" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="address-1">Address 1:</label>
                                                        <input type="text" class="form-control" id="address-1" name="Address 1" placeholder="Please enter" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label>Address 2:</label>
                                                        <input type="text" class="form-control" placeholder="Please enter">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label>City:</label>
                                                        <input type="text" class="form-control" placeholder="Please enter">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label>State:</label>
                                                        <input type="text" class="form-control" placeholder="Please enter">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label>Zip / Postal Code:</label>
                                                        <input type="text" class="form-control" placeholder="Please enter">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label>Country:</label>
                                                        <select class="form-control">
                                                            <option value="">Please select</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-sm-flex text-center text-sm-left">
                                        <div class="align-self-center mb-3 mb-sm-0">
                                            <a href="#" class="btn btn-outline-gray-light btn-lg btn-shadow btn-fw prev-step">Back</a>
                                        </div>
                                        <div class="align-self-center ml-auto">
                                            <a href="#" class="btn btn-primary btn-lg btn-fw btn-shadow next-step">Continue</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="slide step-content">
                        <form class="step-form" method="get" action="">
                            <div class="panel-grid">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="panel h-lg-100">
                                            <div class="panel-content thumbnail panel-content-lg">
                                                <div class="thumbnail-desc mb-4">
                                                    <h3 class="h5 mb-0"><strong class="font-weight-black">SENNHEISER PXC 550</strong></h3>
                                                    <div class="product-price lead">
                                                        <span class="price-item">$349.95</span>
                                                    </div>
                                                </div>
                                                <div class="thumbnail-image mb-0">
                                                    <img src="{{ 'dummy-product.png' | asset_url }}" alt="" class="w-auto mx-auto">
                                                </div>
                                            </div>
                                            <div class="panel-content panel-content-lg mt-auto pt-0 d-none d-lg-block">
                                                <a href="#" class="btn btn-outline-gray-light btn-lg btn-shadow btn-fw prev-step">Back</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="panel d-flex flex-column h-lg-100">
                                            <div class="panel-content panel-content-lg">
                                                <h3 class="h5"><strong class="font-weight-black">Choose Your Currency</strong></h3>
                                                <p>
                                                    <strong>Email:</strong>
                                                    <br>
                                                    <span class="lead text-primary-light">james@newton.com</span>
                                                </p>
                                                 <p>
                                                    <strong>Name:</strong>
                                                    <br>
                                                    <span class="lead text-primary-light">James Newton</span>
                                                </p>
                                                 <p>
                                                    <strong>Name:</strong>
                                                    <br>
                                                    <span class="lead text-primary-light">Citrus str. 12-1 <br>Vancouver, BC <br>Canada</span>
                                                </p>
                                            </div>
                                            <div class="panel-content panel-content-lg mt-auto pt-0">
                                                <div class="d-sm-flex">
                                                    <div class="align-self-center">
                                                        <p class="line-height-sm">
                                                            <strong>You Pay:</strong>
                                                            <br>
                                                            <strong class="text-xl text-primary">13.4039 LTC</strong>
                                                        </p>
                                                    </div>
                                                    <div class="align-self-center ml-auto d-none d-lg-block"> 
                                                        <a href="/pages/cryptopay-success" class="btn btn-primary btn-lg btn-fw btn-shadow">Continue</a>
                                                    </div>
                                                </div>
                                                <div class="d-sm-flex text-center text-sm-left d-lg-none pt-3 pt-lg-0">
                                                    <div class="align-self-center mb-3 mb-sm-0">
                                                        <a href="#" class="btn btn-outline-gray-light btn-lg btn-shadow btn-fw prev-step">Back</a>
                                                    </div>
                                                    <div class="align-self-center ml-auto">
                                                        <a href="/pages/cryptopay-success" class="btn btn-primary btn-lg btn-fw btn-shadow">Continue</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ 'jquery.validate.min.js' | asset_url | script_tag }}

<script>
        
    $(function() {

        $('.step-slider .slider').on('beforeChange', function(event, slick, currentSlide, nextSlide) {

            
            if (nextSlide > 0) {
                var prevSlide = nextSlide - 1;
            } else {
                var prevSlide = 0;
            }

            var last = slick.slideCount - 1;

            console.log(nextSlide);

            $('.step-list li').removeClass('active');
            $('.step-list li').eq(prevSlide).addClass('current');
            $('.step-list li').eq(nextSlide).addClass('active').removeClass('current');



        });

        $('.step-slider .slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            speed: 1000,
            autoplay: false,
            autoplaySpeed: 10000,
            draggable: false,
            adaptiveHeight: true,
            useTransform: true,
            variableWidth: false,
            infinite: false,
            swipe: false,
            rows: 0,
            customPaging: function(slick,index) {
                return '<a>' + index + '</a>';
            },
            nextArrow: '<button type="button" class="slick-next"></button>',
            prevArrow: '<button type="button" class="slick-prev"></button>',
            cssEase: 'cubic-bezier(1.000, 0.000, 0.000, 1.000)',
            arrows: false,
            dots: false,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });

        $('.step-content').each(function() {
            var $this = $(this);
            var $stepForm = $this.find('.step-form');
            var $nextStep = $this.find('.next-step');
            var $prevStep = $this.find('.prev-step');
            $stepForm.validate({
                showErrors: function() {
                    this.defaultShowErrors();
                    $('.step-slider .slider').find('.slick-list').height('auto');
                    $('.step-slider .slider').slick('slickSetOption', null, null, true);
                }
            });
            $nextStep.on('click', function(e) {
                e.preventDefault();
                if ($stepForm.valid()) {
                    $('.step-slider .slider').slick('slickNext');
                } 
            });

            $('.prev-step').on('click', function(e) {
                e.preventDefault();
                $('.step-slider .slider').slick('slickPrev');
            });

        });

    });

</script>

{% schema %}
    {
        "name": "Cryptopay page",
        "settings": [
            {
                "type": "text",
                "id": "intro_title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "intro_desc",
                "label": "Description"
            }
        ]
    }
{% endschema %}