<div class="block bg-gray-lighter">
    <div class="block-content">
        <div class="container">
            <div class="heading-intro text-center">
                <h1><strong class="font-weight-black">{{ page.title }}</strong></h1>
            </div>
            {% if page.content.size > 0 %}
                <div class="rte">
                    {{ page.content }}
                </div>
            {% endif %}
            <div class="row block-margin">
                <div class="col-lg-11 mx-auto">
                    <div class="accordion">
                        {% for block in section.blocks %}
                            <div class="accordion-content">
                                <h4 class="lead accordion-toggle">
                                   <strong>{{ block.settings.title }}</strong>
                                </h4>
                                <div class="accordion-content-inner">
                                    <div class="rte text-md">
                                        {{ block.settings.desc }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h3><strong class="font-weight-black">{{ settings.cu_title }}</strong></h3>
                {% if settings.cu_btn_label != blank %}
                    <a href="{{ settings.cu_btn_url }}" class="btn btn-secondary btn-fw btn-uppercase">{{ settings.cu_btn_label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "FAQ page",
        "settings": [
            {
                "type": "paragraph",
                "content": "Use section blocks to create a question."
            }
        ],
        "blocks": [
            {
                "type": "faq",
                "name": "FAQ",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "desc",
                        "label": "Description"
                    }
                ]
            }
        ]
    }
{% endschema %}