{%- assign product = all_products[section.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
<div class="block block-banner featured-product-2">
	<div class="block-image lazyload" data-bgset="{% include 'bgset', image: section.settings.featured_image %}" data-sizes="auto" style="background-image: url('{{ section.settings.featured_image | img_url: '300x300' }}');"></div>
	<div class="block-content">
		<div class="container">
			<div class="row">
				<div class="col-md-4 align-self-center">
					{% if section.settings.logo_image != blank %}
						<div class="brand-logo d-none d-md-block">
							{%- assign img_url = section.settings.logo_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
							<img class="lazyload js" src="{{ section.settings.logo_image | img_url: '220x220' }}"
									data-src="{{ img_url }}"
									data-widths="[110, 220, 330, 440, 550, 660]"
									data-aspectratio="{{ section.settings.logo_image.aspect_ratio }}"
									data-sizes="auto"
									alt="{{ section.settings.logo_image.alt | escape }}">
						</div>
					{% endif %}
					<h2 class="h1"><strong>{{ product.title }}</strong></h2>
					<div class="rte lead">
						{{ section.settings.desc }}
					</div>
					<div class="product-price text-xl">
						{% include 'product-price', variant: current_variant %}
					</div>
					<a href="{{ product.url }}" class="btn btn-white btn-fw btn-uppercase">{{ 'general.filters.order_now' | t }}</a>
				</div>
			</div>
			<div class="featured-product-review panel panel-radius">
				<div class="panel-content">
					<div class="avatar-details">
						<div class="avatar">
							<img src="{{ section.settings.pr_image | img_url: '100x100' }}" alt="{{ section.settings.pr_image.alt | escape }}">
						</div>
						<div class="details">
							<ul class="rating-star mb-2">
								<li>{% include 'icon-star'%}</li>
								<li>{% include 'icon-star'%}</li>
								<li>{% include 'icon-star'%}</li>
								<li>{% include 'icon-star'%}</li>
								<li>{% include 'icon-star'%}</li>
							</ul>
							<h4 class="h5 mb-2 text-primary-dark"><strong>{{ section.settings.pr_review }}</strong></h4>
							<p class="author">- {{ section.settings.pr_author }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Featured secondary",
		"settings": [
			{
				"type": "image_picker",
				"id": "featured_image",
				"label": "Featured Image"
			},
			{
				"type": "image_picker",
				"id": "logo_image",
				"label": "Product Logo"
			},
			{
				"type": "product",
				"id": "product",
				"label": "Featured Product"
			},
			{
				"type": "richtext",
				"id": "desc",
				"label": "Description"
			},
			{
				"type": "header",
				"content": "Featured review"
			},
			{
				"type": "image_picker",
				"id": "pr_image",
				"label": "Thumbnail Review"
			},
			{
				"type": "text",
				"id": "pr_review",
				"label": "Review Text"
			},
			{
				"type": "text",
				"id": "pr_author",
				"label": "Author"
			}
		],
		"presets": [
            {
                "name": "Featured secondary",
                "category": "Headphones Sections"
            }
        ]
	}
{% endschema %}