{%- assign product = all_products[section.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
<div class="block featured-product-1">
	<div class="block-content">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-4 align-self-center order-2 order-md-1">
					{% if section.settings.logo_image != blank %}
						<div class="brand-logo">
							{%- assign img_url = section.settings.logo_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
							<img class="lazyload js" src="{{ section.settings.logo_image | img_url: '220x220' }}"
									data-src="{{ img_url }}"
									data-widths="[110, 220, 330, 440, 550, 660]"
									data-aspectratio="{{ section.settings.logo_image.aspect_ratio }}"
									data-sizes="auto"
									alt="{{ section.settings.logo_image.alt | escape }}">
						</div>
					{% endif %}
					<ul class="rating-star mb-3 pt-2">
						<li>{% include 'icon-star'%}</li>
						<li>{% include 'icon-star'%}</li>
						<li>{% include 'icon-star'%}</li>
						<li>{% include 'icon-star'%}</li>
						<li>{% include 'icon-star'%}</li>
					</ul>
					<h2 class="h1"><strong>{{ product.title }}</strong></h2>
					<div class="rte lead">
						{{ section.settings.desc }}
					</div>
					<div class="d-lg-flex">
						<div class="align-self-center pr-lg-4">
							<div class="product-price text-xl mb-lg-0">
								{% include 'product-price', variant: current_variant %}
							</div>
						</div>
						<div class="align-self-center">
							<a href="{{ product.url }}" class="btn btn-white btn-fw btn-uppercase">{{ 'general.filters.order_now' | t }}</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 text-center align-self-center order-1 order-md-2">
					<div class="fp-image">
						{%- assign max_height = 560 -%}
						{% capture img_id %}content-image-{{ section.id }}-{{ product.id }}{% endcapture %}
						  {% capture wrapper_id %}content-image-wrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
						  {%- assign img_url = section.settings.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

						  {% unless section.settings.featured_image == blank %}
						    {% include 'image-style' with image: section.settings.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
						  {% endunless %}

						{% if section.settings.featured_image.size > 0 %}
						  <div id="{{ wrapper_id }}" class="content-image-wrapper">
						    <div style="padding-top:{% unless section.settings.featured_image == blank %}{{ 1 | divided_by: section.settings.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
						      		<img id="{{ img_id }}"
						            class="content-image lazyload"
						            src="{{ section.settings.featured_image | img_url: '300x300' }}"
						            data-src="{{ img_url }}"
						            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
						            data-aspectratio="{{ section.settings.featured_image.aspect_ratio }}"
						            data-sizes="auto"
						            alt="">
						    </div>
						  </div>
						{% endif %}

						 {% comment %} <div class="image-wrapper">
                            <img class="image-inner lazyload js" src="{{ product.featured_image | img_url: '560x560' }}" data-aspectratio="{{ product.featured_image.aspect_ratio }}" alt="{{ product.title | escape }}">
                        </div>{% endcomment %}
					</div>
				</div>
				<div class="col-md-4 col-lg-4 align-self-center d-none d-md-block order-md-3">
					<ul class="diamond-list">
						{% for block in section.blocks %}
							<li {{ block.shopify_attributes }}>
								{{ block.settings.info }}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


{% schema %}
	{
		"name": "Featured primary",
		"settings": [
			{
				"type": "image_picker",
				"id": "logo_image",
				"label": "Product Logo"
			},
			{
				"type": "product",
				"id": "product",
				"label": "Featured Product"
			},
			{
				"type": "image_picker",
				"id": "featured_image",
				"label": "Featured Image"
			},
			{
				"type": "richtext",
				"id": "desc",
				"label": "Description"
			}
		],
		"blocks": [
			{
				"type": "info",
				"name": "Info List",
				"settings": [
					{
						"type": "richtext",
						"id": "info",
						"label": "Info"
					}
				]
			}
		],
		"presets": [
            {
                "name": "Featured primary",
                "category": "Headphones Sections"
            }
        ]
	}
{% endschema %}