{%- assign social_icons = false -%}
{%- assign inline_list = false -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

{% include 'newsletter' %}
<footer class="footer">
	<div class="footer-content block">
		<div class="block-content">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-lg-9">
						<div class="row">
							{% for block in section.blocks %}
								{% if block.type == 'link' %}
									<div class="col-md-3">
										{%- assign footerLink = linklists[block.settings.menu] -%}
										<div class="footer-col" {{ block.shopify_attributes }}>
											<h6 class="lead footer-accordion-toggle acc-toggle"><strong class="font-weight-black">{{ footerLink.title }}</strong></h6>
											<div class="footer-accordion-content acc-content">
												<ul class="footer-nav nav">
													{% for link in footerLink.links %}
														<li><a href="{{ link.url }}" rel="noopener">{{ link.title }}</a></li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="col-md-2 col-lg-3 text-md-right">
						<div class="footer-col ml-auto">
							{%- if social_icons -%}
								<h6 class="lead d-none d-md-block"><strong class="font-weight-black">{{ section.settings.social_title }}</strong></h6>
								<ul class="footer-social social-circle">
									{%- if settings.social_facebook_link != blank -%}
						              	<li>
						                	<a href="{{ settings.social_facebook_link | escape }}" aria-describedby="a11y-external-message" rel="noopener"><span class="fab fa-facebook-f"></span></a>
						              	</li>
						            {%- endif -%}
						            {%- if settings.social_twitter_link != blank -%}
						              	<li>
							                <a href="{{ settings.social_twitter_link | escape }}" aria-describedby="a11y-external-message" rel="noopener"><span class="fab fa-twitter"></span></a>
						              	</li>
						            {%- endif -%}
						            {%- if settings.social_pinterest_link != blank -%}
						             	<li>
						                	<a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" aria-describedby="a11y-external-message" rel="noopener"><span class="fab fa-pinterest-p"></span></a>
						              	</li>
						            {%- endif -%}
						            {%- if settings.social_instagram_link != blank -%}
							            <li>
							                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" aria-describedby="a11y-external-message" rel="noopener"><span class="fab fa-instagram"></span></a>
							           	</li>
						            {%- endif -%}
						            {%- if settings.social_snapchat_link != blank -%}
						              	<li>
						                	<a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" aria-describedby="a11y-external-message" rel="noopener"><span class="fab fa-snapchat-ghost"></span></a>
						              	</li>
						            {%- endif -%}
						            {%- if settings.social_youtube_link != blank -%}
						              	<li>
						                	<a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" aria-describedby="a11y-external-message" rel="noopener"><span class="fab fa-youtube"></span></a>
						              	</li>
						            {%- endif -%}
						            {%- if settings.social_vimeo_link != blank -%}
						              	<li>
						                	<a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" aria-describedby="a11y-external-message" rel="noopener"><span class="fab fa-vimeo"></span></a>
						              	</li>
						            {%- endif -%}
						            {%- if template.name == 'blog' or template.name == 'article' -%}
						              	<li><a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom" rel="noopener"><span class="fas fa-rss"></span></a></li>
						            {%- endif -%}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="row">
						<div class="col-md-5 col-lg-6">
							<p>Copyright  &copy; {{ 'now' | date: "%Y" }} Headphones.com. <br class="d-lg-none">All rights reserved. <br class="d-none d-lg-block">designed by <a href="https://www.port80webdesign.com/" target="_blank">port80</a></p>
						</div>
						<div class="col-md-7 col-lg-6 text-right">
							{% if section.settings.show_payment_icons %}
					          	{% unless shop.enabled_payment_types == empty %}
					          		<ul class="payment-list">
					          			{% for type in shop.enabled_payment_types %}
					          				<li>{{ type | payment_type_svg_tag: class: 'icon icon-payment' }}</li>
					          			{% endfor %}
					          		</ul>
					          	{% endunless %}
					        {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


{% schema %}
	{
		"name": "Footer",
		"settings": [
			{
				"type": "header",
				"content": "Newsletter"
			},
			{
				"type": "text",
				"id": "subtitle",
				"label": "Subtitle"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Heading"
			},
			{
				"type": "header",
				"content": "Footer Content"
			},
			{
				"type": "checkbox",
				"id": "show_payment_icons",
				"label": "Title",
				"default": true
			},
			{
				"type": "header",
				"content": "Social Media"
			},
			{
				"type": "text",
				"id": "social_title",
				"label": "Title"
			}
		],
		"blocks": [
			{
				"type": "link",
				"name": "Menu",
				"settings": [
					{
						"type": "link_list",
						"id": "menu",
						"label": "Menu"
					}
				]
			},
			{
				"type": "social",
				"name": "Social Media",
				"settings": [
					{
						"type": "text",
						"id": "social_title",
						"label": "Title"
					}
				]
			}
		]
	}
{% endschema %}