<div data-section-id="{{ section.id }}" data-section-type="header-section">
		<header class="site-header header">
		<div class="topbar">
			<div class="header-content header-top">
				<div class="header-left d-none d-md-block">
					{% if section.settings.show_featured_on %}
						<ul class="featured-on">
							<li>{{ section.settings.fo_title }}</li>
							<li><a href="#" target="_blank" rel="noopener"><img src="{{ 'cnet-seeklogo-com.svg' | asset_url }}" alt="" width="22" height="22"></a></li>
						</ul>
					{% endif %}
				</div>
				<div class="header-center">
					<ul class="list-inline list-inline-border spacing-sm text-nowrap">
						{% for link in linklists[section.settings.top_menu_1].links %}
							<li><a href="{{ link.url }}" rel="noopener">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="header-right d-none d-md-block">
					<ul class="top-nav nav">
						{% for link in linklists[section.settings.top_menu_2].links %}
							<li><a href="{{ link.url }}" rel="noopener">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="header-content header-main">
				<div class="header-left">
					<button type="button" class="menu-toggle">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
					<h1 class="header-logo d-none d-md-block">
						<a href="/" class="logo-image">Headphones.com</a>
					</h1>
				</div>
				<div class="header-center">
					<div class="search-bar d-none d-md-block">
						{% include 'search-form' %}
					</div>
					<h1 class="header-logo d-md-none">
						<a href="/" class="logo-image">Headphones.com</a>
					</h1>
				</div>
				<div class="header-right">
					<ul class="list-inline header-right-list">
						{% if shop.customer_accounts_enabled %}
							{% if customer %}
								<li class="d-none d-md-inline-block"><a href="/account" class="btn btn-gray-light btn-shadow account-btn">{% include 'icon-user' %} <span>{{ 'layout.customer.account' | t }}</span></a></li>
							{% else %}
								<li class="d-none d-md-inline-block"><a href="/account/login" class="btn btn-gray-light btn-shadow account-btn">{% include 'icon-user' %} <span>{{ 'layout.customer.log_in' | t }}</span></a></li>
								
							{% endif %}
						{% endif %}
						<li>
							<a href="/cart" class="btn btn-gray-light btn-shadow cart-open dropdown-toggle cart-btn">
								{% include 'icon-cart-2' %}
								<span>
									{{ 'layout.cart.title' | t }}
									{% if cart.item_count > 0 %}
										(<em id="CartCount" class="cart-count">{{ cart.item_count }}</em>)
									{% endif %}
								</span>
							</a>
							<div id="mini-cart-wrapper" class="cart-popup">
								<div class="cart-header">
									<h3><strong>{{ 'cart.general.title' | t }}</strong></h3>
								</div>
								<hr>
								<div id="CartContainer" class="cart-content"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="navbar">
			<ul class="navbar-nav nav d-none d-md-flex">
				{% for link in linklists[section.settings.main_menu].links %}
					{% if link.links != blank %}
						<li class="mega-dd">
							<a href="{{ link.url }}" class="mega-toggle" rel="noopener">{{ link.title }}</a>
							<div id="dropdown-{{ link.title | downcase | handleize }}" class="mega-dropdown">
								<div class="mega-dropdown-content">
									{% for subLink in link.links %}
										{% if subLink.type == 'collection_link' %}
											{% assign collection = subLink.object %}
											{% if collection.image %}
												{%- assign collection_image = collection.image -%}
											{% elsif collection.products.first and collection.products.first.images != empty %}
												{%- assign collection_image = collection.products.first.featured_image -%}
											{% else %}
												{% assign collection_image = blank %}
											{% endif %}
											<div class="dd-col">
												<a href="{{ subLink.url }}" class="dd-col-inner" rel="noopener">
													<div class="align-self-center">
														<div class="dd-thumbnail image-wrapper">
															{%- assign img_url = collection_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
															<img class="image-inner lazyload js"
																src="{{ collection_image | img_url: '300x300' }}"
																data-src="{{ img_url }}"
																data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
																data-aspectratio="{{ collection_image.aspect_ratio }}"
																data-sizes="auto"
																data-parent-fit="contain"
																alt="{{ collection.title | escape }}" style="{% if collection_image.aspect_ratio < 1.0 %}max-width: 100%;{% else %}width: 100%;{% endif %}">
														</div>
													</div>
													<div class="align-self-center dd-title">{{ subLink.title }}</div>
												</a>
											</div>
										{% else %}
											<div class="dd-col dd-col-link">
												<a href="{{ subLink.url }}" class="dd-col-inner btn btn-primary" rel="noopener">{{ subLink.title }}</a>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</li>
					{% else %}
						{% if link.title contains 'Brands' %}
							<li class="mega-dd">
								<a href="{{ link.url }}" class="mega-toggle" rel="noopener">{{ link.title }}</a>
								<div id="dropdown-{{ link.title | downcase | handleize }}" class="mega-dropdown">
									<div class="mega-dropdown-content">
										{% for product_vendor in shop.vendors limit: 20 %}
					                        {% assign its_a_match = false %}
					                        {% capture vendorHandle %}{{ product_vendor | handleize | strip | escape  }}{% endcapture %}
					                        {% assign collectionHandle = vendorHandle | strip | escape %}
					                        {%- assign collection = collections[collectionHandle] -%}
					                        
					                        {% for collection in collections %}
					                            {% if collectionHandle == collection.handle %}
					                                {% assign its_a_match = true %}
					                            {% endif %}
					                        {% endfor %}

					                        {% if collection.image %}
					                            {%- assign collection_image = collection.image -%}
					                        {% else collection.products.first and collection.products.first.images != empty %}
					                            {%- assign collection_image = collection.products.first.featured_image -%}
					                        {% else %}
					                            {% assign collection_image = blank %}
					                        {% endif %}
					                        {% unless forloop.last %}
					                        	<div class="dd-col">
													{% if its_a_match %}
														<a href="{{ collection.url }}" class="dd-col-inner" rel="noopener">
															<div class="dd-thumbnail image-wrapper">
																{% if collection.image %}
																	<img class="image-inner lazyload js"
						                                                src="{{ collection_image | img_url: '300x300' }}"
						                                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
						                                                data-aspectratio="{{ collection_image.aspect_ratio }}"
						                                                alt="{{ collection.title | escape }}">
																{% else %}
																	<strong>{{ product_vendor }}</strong>
																{% endif %}
															</div>
														</a>
													{% else %}
						                                <a href="{{ product_vendor | url_for_vendor }}" class="dd-col-inner" rel="noopener">
															<div class="dd-thumbnail image-wrapper">
																<strong>{{ product_vendor }}</strong>
															</div>
														</a>
													{% endif %}
												</div>
											{% else %}
												<div class="dd-col dd-col-link">
													<a href="{{ section.settings.brand_btn_url }}" class="dd-col-inner btn btn-secondary" rel="noopener">{{ section.settings.brand_btn_label }}</a>
												</div>
					                        {% endunless %}
					                    {% endfor %}
									</div>
								</div>
							</li>
						{% else %}
							<li><a href="{{ link.url }}" rel="noopener">{{ link.title }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
			<div class="navbar-menu-content">
				<div class="navbar-menu-content-inner">
					<ul class="navbar-nav nav">
						{% for link in linklists[section.settings.main_menu].links %}
							<li>
								{% if link.links != blank %}
									<a href="{{ link.url }}" class="mega-toggle" rel="noopener">{{ link.title }}</a>
									<div class="mega-dropdown">
										<div class="mega-dropdown-content">
											<ul>
												{% for subLink in link.links %}
													<li><a href="{{ subLink.url }}" rel="noopener">{{ subLink.title }}</a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
								{% else %}
									<a href="{{ link.url }}" rel="noopener">{{ link.title }}</a>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="navbar-menu-content-inner py-3 bg-gray-lighter">
					<div class="search-bar mb-3">
						{% include 'search-form' %}
					</div>
					<div class="text-center">
						{% if shop.customer_accounts_enabled %}
							{% if customer %}
								<li>
									<a href="/account" class="text-black">
										<span class="btn btn-gray-light btn-icon mr-2">{% include 'icon-user' %}</span>
										<span>{{ 'layout.customer.account' | t }}</span>
									</a>
								</li>
							{% else %}
								<li>
									<a href="/account/login" class="text-black">
										<span class="btn btn-gray-light btn-icon mr-2">{% include 'icon-user' %}</span>
										<span>{{ 'layout.customer.log_in' | t }}</span>
									</a>
								</li>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="navbar-menu-content-inner navbar-menu-bottom text-center">
					<ul class="top-nav nav">
						{% for link in linklists[section.settings.top_menu_2].links %}
							<li><a href="{{ link.url }}" rel="noopener">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</header>
</div>
{% unless template.name == 'index' or template.name == 'product' or template.name == 'collection' or template.name == 'cart' %}
	<div class="breadcrumbs">
	    {% include 'breadcrumb' %}
	</div>
{% endunless %}







<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "{{ shop.name }}",
	{% if section.settings.logo %}
		{% assign image_size = section.settings.logo.width | append:'x' %}
		"logo": "https:{{ section.settings.logo | img_url: image_size }}",
	{% endif %}
	"sameAs": [
		"{{ settings.social_twitter_link }}",
		"{{ settings.social_facebook_link }}",
		"{{ settings.social_pinterest_link }}",
		"{{ settings.social_instagram_link }}",
		"{{ settings.social_tumblr_link }}",
		"{{ settings.social_snapchat_link }}",
		"{{ settings.social_youtube_link }}",
		"{{ settings.social_vimeo_link }}"
	],
	"url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": "{{ shop.name }}",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "{{ shop.url }}/search?q={search_term_string}",
				"query-input": "required name=search_term_string"
			},
			"url": "{{ shop.url }}{{ page.url }}"
		}
	</script>
{% endif %}

{% schema %}
{
	"name": "header",
	"settings": [
		{
			"type": "header",
			"content": "Featured On"
		},
		{
			"type": "text",
			"id": "fo_title",
			"label": "Title"
		},
		{
			"type": "checkbox",
			"id": "show_featured_on",
			"label": "Show Featured On",
			"default": true
		},
		{
			"type": "header",
			"content": "Topbar Menus"
		},
		{
			"type": "link_list",
			"id": "top_menu_1",
			"label": "Topbar Menu 1"
		},
		{
			"type": "link_list",
			"id": "top_menu_2",
			"label": "Topbar Menu 2"
		},
		{
			"type": "header",
			"content": "Main Menu"
		},
		{
			"type": "link_list",
			"id": "main_menu",
			"label": "Menu"
		},
		{
			"type": "header",
			"content": "Brands"
		},
		{
			"type": "text",
			"id": "brand_btn_label",
			"label": "Button Label",
			"default": "View all brands"
		},
		{
			"type": "url",
			"id": "brand_btn_url",
			"label": "Button URL"
		}
	]
}
{% endschema %}
