<div class="hero featured-slideshow">
	<div class="slider slick-overlay" data-slick='{"autoplay": {{ section.settings.autoplay }}, "autoplaySpeed": {{ section.settings.autoplay_speed | times: 1000 }}, "speed": {{ section.settings.slide_speed }}}'>
		{% for block in section.blocks %}
			<div class="slide slide-{{ block.id }}" {{ block.shopify_attributes }}>
				{% if block.settings.slide_image == blank %}
					<div class="slide-image">
						<div class="placeholder-background">
							{% capture current %}{% cycle 1, 2 %}{% endcapture %}
							{{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
						</div>
					</div>
				{% else %}
					<div class="slide-image d-none d-md-block lazyload {% unless forloop.first %} lazypreload{% endunless %}" data-bgset="{% include 'bgset', image: block.settings.slide_image %}" data-sizes="auto" style="background-image: url('{{ block.settings.slide_image | img_url: '300x300' }}');">
					</div>
					{% if block.settings.slide_image_mobile != blank %}
						{%- assign mobileImage = block.settings.slide_image_mobile -%}
					{% else %}
						{%- assign mobileImage = block.settings.slide_image -%}
					{% endif %}
					<div class="slide-image d-md-none lazyload {% unless forloop.first %} lazypreload{% endunless %}" data-bgset="{% include 'bgset', image: mobileImage %}" data-sizes="auto" style="background-image: url('{{ mobileImage | img_url: '300x300' }}');">
					</div>
				{% endif %}
				<div class="slide-content">
					<div class="container">
						<div class="row{% if block.settings.alignment == 'right' %} justify-content-end{% endif %}">
							<div class="col-lg-6 col-md-8">
								{% if block.settings.logo_image != blank %}
									<div class="brand-logo{% if section.settings.content_animation %} anim{% endif %}">
										{%- assign img_url = block.settings.logo_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
										<img class="lazyload js" src="{{ block.settings.logo_image | img_url: '300x300' }}"
												data-src="{{ img_url }}"
												data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
												data-aspectratio="{{ block.settings.logo_image.aspect_ratio }}"
												data-sizes="auto"
												alt="{{ block.settings.logo_image.alt | escape }}">
									</div>
								{% endif %}
								{% if block.settings.title != blank %}
									<h1 class="display-1{% if section.settings.content_animation %} anim{% endif %}">{{ block.settings.title }}</h1>
								{% endif %}
								{% if block.settings.desc != blank %}
									<div class="rte lead{% if section.settings.content_animation %} anim{% endif %}">
										{{ block.settings.desc }}
									</div>
								{% endif %}
								<a href="{{ block.settings.btn_url }}" class="btn btn-white btn-uppercase btn-fw{% if section.settings.content_animation %} anim{% endif %}">{{ 'general.filters.order_now' | t }}</a>
							</div>
						</div>
					</div>
				</div>
				{% if block.settings.show_overlay == true %}
					<div class="slide-overlay" style="background-color: {{ block.settings.overlay_bg }}; opacity: {{ block.settings.overlay_opacity | divided_by: 100.00 }};"></div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>



{% schema %}
	{
		"name": "Hero",
		"settings": [
			{
				"type": "header",
				"content": "Content Animation"
			},
			{
				"type": "checkbox",
				"id": "content_animation",
				"label": "Enable Content Animation",
				"default": true
			},
			{
				"type": "header",
				"content": "Slideshow Options"
			},
			{
				"type": "range",
				"id": "slide_speed",
				"label": "Slide Speed",
				"min": 100,
				"max": 2000,
				"step": 100,
				"unit": "ms",
				"default": 800
			},
			{
				"type": "checkbox",
				"id": "autoplay",
				"label": "Enable Autoplay",
				"default": false
			},
			{
				"type": "range",
				"id": "autoplay_speed",
				"label": "Autoplay Speed",
				"min": 2,
				"max": 20,
				"step": 2,
				"unit": "sec",
				"default": 6
			}
		],
		"blocks": [
			{
				"type": "slide",
				"name": "Slide",
				"settings": [
					{
						"type": "image_picker",
						"id": "slide_image",
						"label": "Image",
						"info": "Desktop Image"
					},
					{
						"type": "image_picker",
						"id": "slide_image_mobile",
						"label": "Image",
						"info": "Mobile Image - just in case you needed different resolution - if blank the desktop image will be used."
					},
					{
						"type": "checkbox",
						"id": "show_overlay",
						"label": "Show Overlay",
						"default": false
					},
					{
						"type": "color",
						"id": "overlay_bg",
						"label": "Overlay Color",
						"default": "#000000"
					},
					{
						"type": "range",
						"id": "overlay_opacity",
						"label": "Overlay Opacity",
						"min": 10,
						"max": 100,
						"step": 10,
						"unit": "%",
						"default": 30
					},
					{
						"type": "header",
						"content": "Slide Content"
					},
					{
						"type": "image_picker",
						"id": "logo_image",
						"label": "Logo Image"
					},
					{
						"type": "text",
						"id": "title",
						"label": "Title"
					},
					{
						"type": "richtext",
						"id": "desc",
						"label": "Description"
					},
					{
						"type": "url",
						"id": "btn_url",
						"label": "Button URL"
					},
					{
						"type": "select",
						"id": "alignment",
						"label": "Content Alignment",
						"options": [
							{
								"value": "left",
								"label": "Left"
							},
							{
								"value": "right",
								"label": "Right"
							}
						],
						"default": "left"
					}
				]
			}
		],
		"presets": [
            {
                "name": "Hero",
                "category": "Headphones Sections"
            }
        ]
	}
{% endschema %}