{% include 'instagram' %}

{% schema %}
    {
        "name": "Instagram",
        "presets": [
            {
                "name": "Instagram",
                "category": "Headphones Sections"
            }
        ]
    }
{% endschema %}