{%- assign blog = blogs[section.settings.blog] -%}
<div class="block featured-articles">
	<div class="block-content">
		<div class="container">
			{% if section.settings.title != blank %}
				<div class="heading-intro text-center">
					<span class="subtitle">{{ section.settings.subtitle }}</span>
					<h2 class="h3"><strong class="font-weight-black">{{ section.settings.title }}</strong></h2>
				</div>
			{% endif %}
			<div class="row grid-thumbnail-offset">
				{% for article in blog.articles limit: section.settings.article_limit %}
					<div class="col-lg-4 col-md-6">
						<div class="thumbnail thumbnail-article">
							<div class="thumbnail-image">
								{% if article.image %}
					              {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
					              {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
					              {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

					              {% include 'image-style' with image: article.image, small_style: true, width: 370, height: 250, wrapper_id: img_wrapper_id, img_id: img_id %}

					              <div id="{{ img_wrapper_id }}" class="content-image-wrapper js">
					                <div class="content-image-inner" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
					                  <a href="{{ article.url }}">
					                  	<img id="{{ img_id }}"
					                      class="content-image lazyload"
					                      src="{{ article.image | img_url: '300x300' }}"
					                      data-src="{{ img_url }}"
					                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
					                      data-aspectratio="{{ article.image.aspect_ratio }}"
					                      data-sizes="auto"
					                      alt="">
					                  </a>
					                </div>
					              </div>
					              <noscript>
					                <div class="article__grid-image-wrapper">
					                  {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
					                </div>
					              </noscript>
					            {% endif %}
							</div>
							<div class="thumbnail-desc text-center">
								<h4 class="lead"><a href="{{ article.url }}"><strong>{{ article.title }}</strong></a></h4>
								<div class="rte">
									{% if article.excerpt.size > 0 %}
										{{ article.excerpt }}
									{% else %}
										<p>{{ article.content | strip_html | truncate: 60 }}</p>
									{% endif %}
								</div>
								{% if article.tags.size > 0 %}
									<div class="article-tags">
										<ul class="list-inline" aria-label="{{ 'blogs.article.tags' | t }}">
											{% for tag in article.tags %}
												<li>
													<a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
												</li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}
								<a href="{{ article.url }}" class="btn btn-outline btn-shadow btn-uppercase">{{ 'blogs.article.read_more' | t }}</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Latest articles",
		"settings": [
			{
				"type": "text",
				"id": "subtitle",
				"label": "Subtitle"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Heading"
			},
			{
				"type": "header",
				"content": "Blog Content"
			},
			{
				"type": "blog",
				"id": "blog",
				"label": "Blog"
			},
			{
				"type": "range",
				"id": "article_limit",
				"label": "Article Limit",
				"min": 3,
				"max": 9,
				"step": 3,
				"default": 6
			}
		],
		"presets": [
            {
                "name": "Latest articles",
                "category": "Headphones Sections"
            }
        ]
	}
{% endschema %}