<div data-section-id="{{ section.id }}" data-section-type="collection-template">
    <div class="block bg-gray-lighter">
        <div class="block-content pt-md-5">
            <div class="container">
                <div class="heading-intro text-center d-md-none">
                    <h3><strong class="font-weight-black">{{ 'collections.sidebar.headphones' | t }}</strong></h3>
                </div>
                <div class="main-content">
                    <div class="sidebar filter">
                        <button type="button" class="accordion-toggle filter-toggle">{{ 'general.filters.filter' | t }}</button>
                        <div class="filter-content">
                            <div class="filter-content-inner">
                                <div class="sidebar-content border-bottom-content d-none d-md-block">
                                    <h3><strong class="font-weight-black">{{ 'collections.sidebar.headphones' | t }}</strong></h3>
                                </div>
                                <div class="sidebar-content border-bottom-content">
                                    <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.type' | t }}</strong></h4>
                                    <ul class="list">
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Over-Ear</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">In-Ear</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Wireless</span>
                                            </label> 
                                        </li>
                                    </ul>
                                </div>
                                <div class="sidebar-content border-bottom-content">
                                    <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.portability' | t }}</strong></h4>
                                    <ul class="list">
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Wired</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Wireless</span>
                                            </label> 
                                        </li>
                                    </ul>
                                </div>
                                <div class="sidebar-content border-bottom-content">
                                    <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.features' | t }}</strong></h4>
                                    <ul class="list">
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Microphone</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Noise Canceling</span>
                                            </label> 
                                        </li>
                                    </ul>
                                </div>
                                <div class="sidebar-content border-bottom-content">
                                    <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.brand' | t }}</strong></h4>
                                    <ul class="list">
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">64 Audio</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Astell&Kern</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Audeze</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Audio-Technica</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">AudioQuest</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Beyerdynamic</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Campfire Audio</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">Etymotic Research</span>
                                            </label> 
                                        </li>
                                    </ul>
                                    <a href="#"><strong>View All</strong></a>
                                </div>
                                <div class="sidebar-content border-bottom-content">
                                    <h4 class="h6 text-uppercase"><strong class="font-weight-black">{{ 'collections.sidebar.price' | t }}</strong></h4>
                                    <ul class="list">
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">$0 - $200</span>
                                            </label> 
                                        </li>
                                        <li>
                                            <label class="control checkbox">
                                                <input name="radio" type="checkbox" class="filter-btn" value="">
                                                <span class="control-indicator"></span>
                                                <span class="control-label mr-3">$200 - $500</span>
                                            </label> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        {% if section.settings.show_collection_hero %}
                            <div class="collection-hero product-grid block-margin">
                                <div class="row">
                                    {% for block in section.blocks %}
                                        {% assign collection = collections[block.settings.collection] %}
                                        {% assign collection_image = block.settings.featured_image %}
                                        {% if block.type == 'product_type' %}
                                            <div class="{% if forloop.first %} col-md-12{% else %} col-md-12 col-lg-6{% endif %}" {{ block.shopify_attributes }}>
                                                <div class="thumbnail thumbnail-overlay {% if forloop.first %}collection-hero-featured{% else %} collection-hero-thumbnail{% endif %}">
                                                    <a href="{{ collection.url }}" class="thumbnail-image lazyload {% unless forloop.first %} lazypreload{% endunless %}" data-bgset="{% include 'bgset', image: collection_image %}" data-sizes="auto" style="background-image: url('{{ collection_image | img_url: '300x300' }}');">
                                                    </a>
                                                    <div class="thumbnail-desc text-center">
                                                        <h2 class="{% if forloop.first %}display-4{% else %}h1{% endif %} font-weight-black text-uppercase mb-3"><a href="{{ collection.url }}" class="heading-link">{{ collection.title | remove: 'Headphones' }}</a></h2>
                                                        <a href="#" class="btn btn-white btn-fw btn-shadow">{{ 'general.filters.shop_now' | t }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% for block in section.blocks %}
                            {% assign collection = collections[block.settings.collection] %}
                            <div class="collection-product-block{% unless forloop.last %} block-margin{% endunless %}" {{ block.shopify_attributes }}>
                                {% if collection.image %}
                                    {%- assign collection_image = collection.image -%}
                                {% else collection.products.first and collection.products.first.images != empty %}
                                    {%- assign collection_image = collection.products.first.featured_image -%}
                                {% else %}
                                    {% assign collection_image = blank %}
                                {% endif %}
                                {% if collection.title != blank %}
                                    <div class="d-flex heading-intro mb-4">
                                        <div class="align-self-center pr-2">
                                            <span class="subtitle">{{ 'collections.sorting.featured' | t }}</span>
                                            <h2 class="h3"><strong class="font-weight-black">{{ collection.title }}</strong></h2>
                                        </div>
                                        <div class="align-self-center ml-auto text-right">
                                            <a href="{{ collection.url }}" class="btn btn-secondary btn-shadow btn-uppercase btn-fw">{{ 'general.filters.shop_all' | t  }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="product-grid-3-col-ipad product-grid">
                                    <div class="row grid">
                                        <div class="grid-sizer col-6 col-lg-3"></div>
                                        {% for product in collection.products limit: 4 %}
                                            {%- assign max_height = 200 -%}
                                            <div class="grid-item col-6 col-lg-3">
                                                {% include 'product-grid' %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "Collections list page",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_collection_hero",
                "label": "Show Collection Hero",
                "default": true
            }
        ],
        "blocks": [
            {
                "type": "product_type",
                "name": "Product type",
                "settings": [
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "Collection"
                    },
                    {
                        "type": "image_picker",
                        "id": "featured_image",
                        "label": "Featured Image"
                    }
                ]
            }
        ]
    }
{% endschema %}