<div class="page-width">
  {% if section.settings.title != blank %}
	<div class="section-header text-center">
	  <h2>{{ section.settings.title | escape }}</h2>
	</div>
  {% endif %}

  {% if section.blocks.size > 0 %}
	<ul class="logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
	  {% for block in section.blocks %}
		<li class="logo-bar__item{% if section.settings.title_enable %} logo-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
		  {% if block.settings.link != blank %}
			<a href="{{ block.settings.link }}" class="logo-bar__link">
		  {% endif %}
		  {% if block.settings.image != blank %}
			{{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, 'logo-bar__image' }}
		  {% else %}
			{{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
		  {% endif %}
		  {% if block.settings.link != blank %}
			</a>
		  {% endif %}
		</li>
	  {% endfor %}
	</ul>
  {% endif %}

  {% if section.blocks.size == 0 %}
	{% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": {
	"de": "Logo-Liste",
	"en": "Logo list",
	"es": "Lista de logotipos",
	"fr": "Liste des logos",
	"it": "Elenco loghi",
	"ja": "ロゴリスト",
	"pt-BR": "Lista de logotipos"
  },
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
	{
	  "type": "text",
	  "id": "title",
	  "label": {
		"de": "Titel",
		"en": "Heading",
		"es": "Título",
		"fr": "En-tête",
		"it": "Heading",
		"ja": "見出し",
		"pt-BR": "Título"
	  },
	  "default": {
		"de": "Logo-Liste",
		"en": "Logo list",
		"es": "Lista de logotipos",
		"fr": "Liste de logos",
		"it": "Elenco loghi",
		"ja": "ロゴリスト",
		"pt-BR": "Lista de logotipos"
	  }
	}
  ],
  "blocks": [
	{
	  "type": "logo_image",
	  "name": {
		"de": "Logo",
		"en": "Logo",
		"es": "Logotipo",
		"fr": "Logo",
		"it": "Logo",
		"ja": "ロゴ",
		"pt-BR": "Logotipo"
	  },
	  "settings": [
		{
		  "type": "image_picker",
		  "id": "image",
		  "label": {
			"de": "Foto",
			"en": "Image",
			"es": "Imagen",
			"fr": "Image",
			"it": "Immagine",
			"ja": "画像",
			"pt-BR": "Imagem"
		  }
		},
		{
		  "type": "url",
		  "id": "link",
		  "label": {
			"de": "Link",
			"en": "Link",
			"es": "Enlace",
			"fr": "Lien",
			"it": "Link",
			"ja": "リンク",
			"pt-BR": "Link"
		  },
		  "info": {
			"de": "Optional",
			"en": "Optional",
			"es": "Opcional",
			"fr": "Facultatif",
			"it": "Facoltativo",
			"ja": "選択させる",
			"pt-BR": "Opcional"
		  }
		}
	  ]
	}
  ],
  "presets": [
	{
	  "name": {
		"de": "Logo-Liste",
		"en": "Logo list",
		"es": "Lista de logotipos",
		"fr": "Liste de logos",
		"it": "Elenco loghi",
		"ja": "ロゴリスト",
		"pt-BR": "Lista de logotipos"
	  },
	  "category": {
		"de": "Foto",
		"en": "Image",
		"es": "Imagen",
		"fr": "Image",
		"it": "Immagine",
		"ja": "画像",
		"pt-BR": "Imagem"
	  },
	  "blocks": [
		{
		  "type": "logo_image"
		},
		{
		  "type": "logo_image"
		},
		{
		  "type": "logo_image"
		},
		{
		  "type": "logo_image"
		}
	  ]
	}
  ]
}
{% endschema %}
