{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
{% endunless %}

{% if section.settings.newsletter_enable %}
  {% form 'customer', id: 'ContactPassword' %}

    {%- assign formId = 'PasswordNewsletterForm' -%}

    <p class="h4">
      {{ section.settings.newsletter_form_heading | escape }}
    </p>
    {% if section.settings.newsletter_form_subheading != blank %}
      <div class="password__form-subheading rte">{{ section.settings.newsletter_form_subheading }}</div>
    {% endif %}
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="{{ formId }}-email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>

    {% comment %}<div class="page-width">
      {% include 'form-status', form_id: formId %}
    </div>{% endcomment %}

    {% unless form.posted_successfully? %}
      <div class="input-group password__input-group">
        <div class="input-group__field">
          <input
            type="email"
            name="contact[email]"
            id="{{ formId }}-email"
            placeholder="{{ section.settings.newsletter_placeholder | escape }}"
            {%- if form.errors contains 'email' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
            {%- endif -%}
          >
          <span id="{{ formId }}-email-error" class="input-error-message">{% include 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
        </div>
        <span class="input-group__btn">
          <button type="submit" name="commit" class="btn btn-primary">
            <span>{{ section.settings.newsletter_button_text | escape }}</span>
          </button>
        </span>
      </div>
    {% endunless %}
  {% endform %}
{% endif %}



{% schema %}
{
  "name": {
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "pt-BR": "Conteúdo"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "de": "Newsletter Signup zeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "メールマガジンの登録を表示する",
        "pt-BR": "Exibir assinatura da newsletter"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "de": "Newsletter-Formular Titel",
        "en": "Newsletter form heading",
        "es": "Título del formulario del boletín",
        "fr": "Titre du formulaire d'inscription à la newsletter",
        "it": "Intestazione del modulo della newsletter",
        "ja": "メールマガジンフォームの見出し",
        "pt-BR": "Título do formulário da newsletter"
      },
      "default": {
        "de": "Seien Sie der Erste, der von unserem Launch erfährt.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fr": "Faites partie des premières personnes à être informées de notre lancement.",
        "it": "Sii il primo a sapere quando effettueremo il lancio.",
        "ja": "ストアに関する最新情報をメールでお知らせします。",
        "pt-BR": "Seja o primeiro a saber quando lançarmos."
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "de": "Unter-Überschrift",
        "en": "Subheading",
        "es": "Subtítulo",
        "fr": "Sous-titre",
        "it": "Sottotitolo",
        "ja": "小見出し",
        "pt-BR": "Subtítulo"
      },
      "default": {
        "de": "<p>Eine kurze Beschreibung zum Inhalt des Newsletters</p>",
        "en": "<p>A short sentence describing what someone will receive by subscribing</p>",
        "es": "<p>Una frase corta que describe lo que las personas recibirán al suscribirse</p>",
        "fr": "<p>Petite phrase qui décrit ce qu'on reçoit en s'inscrivant</p>",
        "it": "<p>Una breve frase che descrive ciò che qualcuno riceverà effettuando l'iscrizione</p>",
        "ja": "<p>メルマガ購読者に向けたメッセージを入れましょう</p>",
        "pt-BR": "<p>Uma frase curta que descreve o que alguém receberá ao assinar</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "de": "Newsletter-Platzhalter Text",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fr": "Paramètre fictif de la newsletter",
        "it": "Testo del segnaposto della Newsletter",
        "ja": "メールマガジンのプレースホルダテキスト",
        "pt-BR": "Texto do marcador de posição da newsletter"
      },
      "default": {
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fr": "Adresse e-mail",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "pt-BR": "E-mail"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "de": "Newsletter-Button Text",
        "en": "Newsletter button text",
        "es": "Texto del botón del boletín",
        "fr": "Texte du bouton de la newsletter",
        "it": "Testo del pulsante Newsletter",
        "ja": "メールマガジンボタンのテキスト",
        "pt-BR": "Texto do botão da newsletter"
      },
      "default": {
        "de": "Sagen Sie mir Bescheid",
        "en": "Notify me",
        "es": "Notificarme",
        "fr": "Je souhaite être informé(e)",
        "it": "Avvisami",
        "ja": "通知を受け取る",
        "pt-BR": "Notifique-me"
      }
    }
  ]
}
{% endschema %}
