<div class="product-template__container"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
  {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
    
    <div class="breadcrumbs">
		{% include 'breadcrumb' %}
	</div>
    <div class="block">
        <div class="block-content pt-4 pt-md-5">
        	<div class="product-main inner-content container-fluid">
        		<div class="row">
        			<div class="col-lg-7">
        				<div class="product-gallery">
        					<div class="product-full">
        						<div class="slider">
        							{% for image in product.images limit: 5 %}
                                        <div class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %} slide" data-image-id="{{ image.id }}" {% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                                            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                            <div class="image-wrapper">
                                                <img class="image-inner lazyload js"
                                                src="{{ image | img_url: '300x300' }}"
                                                data-src="{{ img_url }}"
                                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                data-aspectratio="{{ image.aspect_ratio }}"
                                                data-sizes="auto"
                                                data-parent-fit="contain"
                                                alt="{{ image.alt | escape }}">
                                            </div>
        								</div>
        							{% endfor %}
        						</div>
        					</div>
        					<div class="product-thumbnail d-none d-lg-block">
        						<div class="slider">
        							{% for image in product.images limit: 5 %}
                                        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                        <div class="slide">
                                            <div class="slide-image">
                                                <img class="lazyload"
                                                 src="{{ image | img_url: '160x160' }}"
                                                 data-src="{{ img_url }}"
                                                 data-widths="[160, 320, 480, 640, 960]"
                                                 data-aspectratio="{{ image.aspect_ratio }}"
                                                 data-sizes="auto"
                                                 tabindex="-1"
                                                 alt="{{ image.alt | escape }}">
                                            </div>
                                        </div>
                                    {% endfor %}
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-5">
        				<div class="product-details">
                            {% form 'product', product, class: 'product-detail-form', novalidate: 'novalidate', id: 'AddToCartForm' %}
                                <div class="product-detail-review">
                                    <style>
                                        .jdgm-star {
                                            padding-right: 7px !important;
                                        }
                                    </style>
                                    {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
                                </div>
                                <div class="product-detail-block">
                                    <h1 class="product-title mb-1">{{ product.title }}</h1>
                                    <div class="product-price product-detail-price">
                                        {% include 'product-price', variant: current_variant %}
                                    </div>
                                </div>  
                                <div class="product-detail-block">
                                    <div class="promo-delivery h6 d-flex">
                                        <div class="pr-1 flex-shrink-0">
                                            {% include 'icon-deliver-truck' %}
                                        </div>
                                        <div class="flex-grow-1">
                                            Order within <strong class="text-danger-dark">2Hrs 14Mins</strong> and recieve it today!
                                        </div>
                                    </div>
                                </div>
                                {%- assign pairing = product.metafields.pairing -%}
                                
                                {%- assign pairingHandle = pairing.handle | split: '||' -%}
                                {% if pairingHandle.size > 0 %}
                                    <div class="product-detail-block">
                                        <p class="mb-2 mb-md-3"><strong>{{ 'products.product.pairing' | t }}:</strong></p>
                                        <ul class="list-addon">
                                            {% for pair in pairingHandle %}
                                                {%- assign pairingTooltip = pairing.tooltip | split: '||' -%}
                                                {%- assign tooltip = pairingTooltip[forloop.index0] -%}
                                                {%- assign productHandle = pair | downcase | handleize | strip -%}
                                                {%- assign pairProduct = all_products[productHandle] -%}
                                                <li>
                                                    <label class="control checkbox product-checkbox" data-toggle="tooltip" data-placement="top" title="{{ tooltip}}">
                                                        <input type="checkbox" id="{{ pairProduct.id }}" {% unless pairProduct.selected_or_first_available_variant.available %}disabled{% endunless %} name="id[]" value="{{ pairProduct.selected_or_first_available_variant.id }}">
                                                        <span class="control-indicator align-self-center"></span>
                                                        <div class="align-self-center addon-image">
                                                            {%- assign img_url = pairProduct.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                                            <div class="image-wrapper">
                                                                <img class="image-inner lazyload js"
                                                                src="{{ pairProduct.featured_image | img_url: '300x300' }}"
                                                                data-src="{{ img_url }}"
                                                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                                data-aspectratio="{{ pairProduct.featured_image.aspect_ratio }}"
                                                                data-sizes="auto"
                                                                data-parent-fit="contain"
                                                                alt="{{ pairProduct.featured_image.alt | escape }}">
                                                            </div>
                                                        </div>
                                                        <div class="align-self-center">
                                                            <p class="mb-1">{{ pairProduct.title }}</p>
                                                            <div class="product-price">
                                                                {% include 'product-price', variant: pairProduct %}
                                                            </div>
                                                        </div>
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        </ul>           
                                    </div>
                                {% endif %}
                                {% unless product.has_only_default_variant %}
                                    <div class="product-detail-block">
                                      {% for option in product.options_with_values %}
                                        <div class="selector-wrapper js product-form__item">
                                          <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                                            {{ option.name }}
                                          </label>
                                          <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                                            {% for value in option.values %}
                                              <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                      {% endfor %}
                                    </div>
                                {% endunless %}
                                <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                                  {% for variant in product.variants %}
                                    {% if variant.available %}
                                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                                        {{ variant.title }}
                                      </option>
                                    {% else %}
                                      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                                <div class="product-detail-block">
                                    <div class="d-md-flex">
                                        {% if section.settings.show_quantity_selector %}
                                            <div class="flex-shrink-0 pr-md-3 mb-2 mb-md-3">
                                                <div class="product-qty">
                                                    <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="form-control form-control-md" pattern="[0-9]*">
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="flex-grow-1 mb-2 mb-md-3">
                                            <button type="submit" name="add" id="AddToCart" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn-primary btn-shadow btn-md btn-block">
                                                {% include 'icon-cart-2' %}
                                                <span id="AddToCartText">
                                                    {% unless current_variant.available %}
                                                        {{ 'products.product.sold_out' | t }}
                                                    {% else %}
                                                        {{ 'products.product.add_to_cart' | t }}
                                                    {% endunless %}
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row gutter-sm offset-mb-2 offset-mb-md-3">
                                        <div class="col-xxl-6 mb-2 mb-md-3">
                                            <a href="#" class="btn btn-secondary btn-shadow btn-md btn-block px-1">Buy for as little as $16.15/month*</a>
                                        </div>
                                        <div class="col-xxl-6 mb-2 mb-md-3">
                                            <a href="#" class="btn btn-secondary btn-shadow btn-md btn-block px-1">Pay with Crypto</a>
                                        </div>
                                    </div>
                                    {% if section.settings.enable_payment_button %}
                                        {{ form | payment_button }}
                                    {% endif %}
                                </div>
                                <div class="product-detail-block">
                                    <ul class="product-detail-promo">
                                        <li>
                                            <div class="d-flex justify-content-center">
                                                <div class="pr-2 d-none d-md-block">
                                                    <span class="icon-circle"><i class="fas fa-check"></i></span> 
                                                </div>
                                                <div>
                                                    <strong>{{ section.settings.promo_text_1 | strip_html }}</strong>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-center">
                                                <div class="pr-2 d-none d-md-block">
                                                    <span class="icon-circle"><i class="fas fa-check"></i></span> 
                                                </div>
                                                <div>
                                                    <strong>{{ section.settings.promo_text_2 | strip_html }}</strong>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-center">
                                                <div class="pr-2 d-none d-md-block">
                                                    <span class="icon-circle"><i class="fas fa-check"></i></span> 
                                                </div>
                                                <div>
                                                    <strong>{{ section.settings.promo_text_3 | strip_html }}</strong>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-detail-block">
                                    {% include 'support' %}
                                </div>
                            {% endform %}
                        </div>
        			</div>
        		</div>
        	</div>
            {%- assign productDesc = product.metafields.description -%}
            {%- assign productInTheBox = product.metafields.inthebox -%}
            {%- assign global = product.metafields.global -%}

            {%- assign reviews = product.metafields.reviews -%}

            <div class="product-tab-details container d-none d-md-block">
                <ul class="nav-tabs nav">
                    <li><a href="#tab-1" class="active" data-toggle="tab">Description</a></li>
                    <li><a href="#tab-2" data-toggle="tab">Tech specs</a></li>
                    <li><a href="#tab-3" data-toggle="tab">In the box</a></li>
                    <li><a href="#tab-4" data-toggle="tab">Reviews</a></li>
                    <li><a href="#tab-5" data-toggle="tab">Questions &amp; answers</a></li>
                    <li><a href="#tab-6" data-toggle="tab">Community reviews</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active product-description" id="tab-1">
                        <div class="rte block-margin">
                            {{ product.description }}
                        </div>
                        {%- assign imageImage = productDesc.image | split: '||' -%}
                        {%- assign imageTitle = productDesc.title | split: '||' -%}
                        {%- assign imageText = productDesc.text | split: '||' -%}

                        {% if imageImage.size > 0 %}
                            <div class="product-image-text block-margin-offset">
                            {% for imageLink in imageImage %}
                                {%- assign mod = forloop.index | modulo: 2 -%}
                                {%- assign img_url = imageLink -%}
                                {%- assign title = imageTitle[forloop.index0] -%}
                                {%- assign desc = imageText[forloop.index0] -%}
                                {% if mod == 0 %}
                                    <div class="row gutter-md">
                                        <div class="col-md-6 align-self-center order-md-2 block-margin">
                                            <div class="image-wrapper">
                                                <img class="image-inner lazyload js"
                                                    src="{{ img_url }}"
                                                    data-src="{{ img_url }}"
                                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                    data-aspectratio="{{ desc.image.aspect_ratio }}"
                                                    data-sizes="auto"
                                                    data-parent-fit="contain"
                                                    alt="{{ desc.title | escape }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6 align-self-center order-md-1 block-margin">
                                            <h4>{{ title }}</h4>
                                            <div class="rte">
                                                <p>{{ desc }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row gutter-md">
                                        <div class="col-md-6 align-self-center{% unless forloop.last %} block-margin{% endunless %}">
                                            <div class="image-wrapper">
                                                <img class="image-inner lazyload js"
                                                    src="{{ img_url }}"
                                                    data-src="{{ img_url }}"
                                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                    data-aspectratio="{{ desc.image.aspect_ratio }}"
                                                    data-sizes="auto"
                                                    data-parent-fit="contain"
                                                    alt="{{ desc.title | escape }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6 align-self-center{% unless forloop.last %} block-margin{% endunless %}">
                                            <h4>{{ title }}</h4>
                                            <div class="rte">
                                                <p>{{ desc }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                        <table class="table table-striped table-layout-fixed break-table-xs text-black">
                            <tbody>
                                {%- assign productSpecs = product.metafields.specs -%}
                                {%- assign techLabel = productSpecs.label | split: '||' -%}
                                

                                {% for label in techLabel %}
                                    <tr>
                                        <td>
                                            <strong>{{ label }}</strong>
                                        </td>
                                        <td>
                                            {%- assign techValue = productSpecs.value | split: '||' -%}
                                            {%- assign value = techValue[forloop.index0] -%}
                                            <p class="mb-0">
                                                {{ value }}
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab-3">
                        <div class="row gutter-md offset-mb-3">
                            <div class="col-md-6 mb-3">
                                <div class="panel panel-radius panel-bordered d-flex h-100 align-items-center">
                                    <div class="panel-content panel-content-md thumbnail text-center">
                                        <div class="thumbnail-image">
                                            {%- assign max_height = 250 -%}
                                            {% capture img_id %}content-image-in-the-box{% endcapture %}
                                              {% capture wrapper_id %}content-image-wrapper-in-the-box{% endcapture %}
                                              {%- assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                                              {% unless featured_image == blank %}
                                                {% include 'image-style' with image: featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
                                              {% endunless %}

                                              <div id="{{ wrapper_id }}" class="content-image-wrapper">
                                                <div style="padding-top:{% unless featured_image == blank %}{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
                                                        <img id="{{ img_id }}"
                                                        class="content-image lazyload"
                                                        src="{{ featured_image | img_url: '300x300' }}"
                                                        data-src="{{ img_url }}"
                                                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                        data-aspectratio="{{ featured_image.aspect_ratio }}"
                                                        data-sizes="auto"
                                                        alt="{{ featured_image.alt | escape }}">
                                                </div>
                                              </div>
                                        </div>
                                        <div class="thumbnail-desc">
                                            {% if global.title_tag.size > 0 %}
                                                <h4>{{ global.title_tag }}</h4>
                                            {% else %}
                                                <h4>{{ product.title }}</h4>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%- assign list = productInTheBox.list | split: '||' -%}
                            {% if list.size > 0 %}
                            <div class="col-md-6 mb-3">
                                <div class="panel panel-radius panel-bordered d-flex h-100 align-items-center">
                                    <div class="panel-content panel-content-md">
                                        <div class="row">
                                            {% for field in list %}
                                            <div class="col-lg-6">
                                                <ul class="bullets inthebox-list h4 my-1 my-md-2">
                                                    <li><strong class="font-weight-medium">{{ field }}</strong></li>
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-4">
                        {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}
                    </div>
                    <div class="tab-pane fade" id="tab-5">
                        <div class="panel panel-radius panel-bordered">
                            <div class="panel-content panel-content-md">
                                <div class="d-sm-flex text-center text-sm-left">
                                    <div class="align-self-center pr-sm-2 mb-3 mb-sm-0">
                                        <h4 class="mb-1">{{ settings.qa_title }}</h4>
                                        <div class="rte">
                                            {{ settings.qa_text }}
                                        </div>
                                    </div>
                                    <div class="align-self-center ml-auto">
                                        <a href="{{ settings.qa_btn_url }}" class="btn btn-secondary btn-shadow">{{ settings.qa_btn_label }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-6">
                        {%- assign dateSplit = reviews.date | split: '||' -%}
                        {% for dc in dateSplit %}
                            {%- assign contentSplit = reviews.content | split: '||' -%}
                            <div class="border-top-bottom-content collapse-js">
                                <div class="d-flex">
                                    <div class="align-self-end">
                                        <h4 class="lead font-weight-semi">{{ product.title }}</h4>
                                    </div>
                                    <div class="align-self-end ml-auto text-right">
                                        <p class="date">{{ dc }}</p>
                                    </div>
                                </div>
                                <div class="collapse-content">
                                    <div class="rte">
                                        {{ contentSplit[forloop.index0] }}
                                    </div>
                                </div>
                                <a href="#" class="text-link collapse-toggle">Read More</strong></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="product-tab-details container d-md-none">
                <div class="accordion accordion-default">
                    <div class="accordion-content">
                        <h4 class="text-base accordion-toggle">
                           <strong>Description</strong>
                        </h4>
                        <div class="accordion-content-inner">
                            <div class="accordion-content-inner-inner">
                                <div class="rte block-margin">
                                    {{ product.description }}
                                </div>
                                {%- assign imageImage = productDesc.image | split: '||' -%}
                                {%- assign imageTitle = productDesc.title | split: '||' -%}
                                {%- assign imageText = productDesc.text | split: '||' -%}

                                {% if imageImage.size > 0 %}
                                    <div class="product-image-text block-margin-offset">
                                    {% for imageLink in imageImage %}
                                        {%- assign mod = forloop.index | modulo: 2 -%}
                                        {%- assign img_url = imageLink -%}
                                        {%- assign title = imageTitle[forloop.index0] -%}
                                        {%- assign desc = imageText[forloop.index0] -%}
                                        {% if mod == 0 %}
                                            <div class="row gutter-md">
                                                <div class="col-md-6 align-self-center order-md-2 block-margin">
                                                    <div class="image-wrapper">
                                                        <img class="image-inner lazyload js"
                                                            src="{{ img_url }}"
                                                            data-src="{{ img_url }}"
                                                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                            data-aspectratio="{{ desc.image.aspect_ratio }}"
                                                            data-sizes="auto"
                                                            data-parent-fit="contain"
                                                            alt="{{ desc.title | escape }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 align-self-center order-md-1 block-margin">
                                                    <h4>{{ title }}</h4>
                                                    <div class="rte">
                                                        <p>{{ desc }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="row gutter-md">
                                                <div class="col-md-6 align-self-center{% unless forloop.last %} block-margin{% endunless %}">
                                                    <div class="image-wrapper">
                                                        <img class="image-inner lazyload js"
                                                            src="{{ img_url }}"
                                                            data-src="{{ img_url }}"
                                                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                            data-aspectratio="{{ desc.image.aspect_ratio }}"
                                                            data-sizes="auto"
                                                            data-parent-fit="contain"
                                                            alt="{{ desc.title | escape }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 align-self-center{% unless forloop.last %} block-margin{% endunless %}">
                                                    <h4>{{ title }}</h4>
                                                    <div class="rte">
                                                        <p>{{ desc }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <h4 class="text-base accordion-toggle">
                           <strong>Tech specs</strong>
                        </h4>
                        <div class="accordion-content-inner">
                            <table class="table table-striped table-layout-fixed break-table-xs text-black">
                                <tbody>
                                    {%- assign productSpecs = product.metafields.specs -%}
                                    {%- assign techLabel = productSpecs.label | split: '||' -%}

                                    {% for label in techLabel %}
                                        <tr>
                                            <td>
                                                <strong>{{ label }}</strong>
                                            </td>
                                            <td>
                                                {%- assign techValue = productSpecs.value | split: '||' -%}
                                                {%- assign value = techValue[forloop.index0] -%}
                                                <p class="mb-0">
                                                    {{ value }}
                                                </p>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <h4 class="text-base accordion-toggle">
                           <strong>In the box</strong>
                        </h4>
                        <div class="accordion-content-inner">
                            <div class="accordion-content-inner-inner">
                                <div class="row gutter-md offset-mb-3">
                                    <div class="col-md-6 mb-3">
                                        <div class="panel panel-radius panel-bordered d-flex h-100 align-items-center">
                                            <div class="panel-content panel-content-md thumbnail text-center">
                                                <div class="thumbnail-image">
                                                    {%- assign max_height = 250 -%}
                                                    {% capture img_id %}content-image-in-the-box{% endcapture %}
                                                      {% capture wrapper_id %}content-image-wrapper-in-the-box{% endcapture %}
                                                      {%- assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                                                      {% unless featured_image == blank %}
                                                        {% include 'image-style' with image: featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
                                                      {% endunless %}

                                                      <div id="{{ wrapper_id }}" class="content-image-wrapper">
                                                        <div style="padding-top:{% unless featured_image == blank %}{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
                                                                <img id="{{ img_id }}"
                                                                class="content-image lazyload"
                                                                src="{{ featured_image | img_url: '300x300' }}"
                                                                data-src="{{ img_url }}"
                                                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                                data-aspectratio="{{ featured_image.aspect_ratio }}"
                                                                data-sizes="auto"
                                                                alt="{{ featured_image.alt | escape }}">
                                                        </div>
                                                      </div>
                                                </div>
                                                <div class="thumbnail-desc">
                                                    {% if global.title_tag.size > 0 %}
                                                        <h4>{{ global.title_tag }}</h4>
                                                    {% else %}
                                                        <h4>{{ product.title }}</h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%- assign list = productInTheBox.list | split: '||' -%}
                                    {% if list.size > 0 %}
                                    <div class="col-md-6 mb-3">
                                        <div class="panel panel-radius panel-bordered d-flex h-100 align-items-center">
                                            <div class="panel-content panel-content-md">
                                                <div class="row">
                                                    {% for field in list %}
                                                    <div class="col-lg-6">
                                                        <ul class="bullets inthebox-list h4 my-1 my-md-2">
                                                            <li><strong class="font-weight-medium">{{ field }}</strong></li>
                                                        </ul>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <h4 class="text-base accordion-toggle">
                           <strong>Reviews</strong>
                        </h4>
                        <div class="accordion-content-inner">
                            <div class="accordion-content-inner-inner">
                                {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <h4 class="text-base accordion-toggle">
                           <strong>Questions &amp; answers</strong>
                        </h4>
                        <div class="accordion-content-inner">
                            <div class="accordion-content-inner-inner">
                                <div class="panel panel-radius panel-bordered">
                                    <div class="panel-content panel-content-md">
                                        <div class="d-sm-flex text-center text-sm-left">
                                            <div class="align-self-center pr-sm-2 mb-3 mb-sm-0">
                                                <h4 class="mb-1">{{ settings.qa_title }}</h4>
                                                <div class="rte">
                                                    {{ settings.qa_text }}
                                                </div>
                                            </div>
                                            <div class="align-self-center ml-auto">
                                                <a href="{{ settings.qa_btn_url }}" class="btn btn-secondary btn-shadow">{{ settings.qa_btn_label }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <h4 class="text-base accordion-toggle">
                           <strong>Community reviews</strong>
                        </h4>
                        <div class="accordion-content-inner">
                            <div class="accordion-content-inner-inner">
                                Community Reviews Here
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% form 'product', product, class: 'product-sticky-form', novalidate: 'novalidate', id: 'AddToCartFormSticky' %}
{% unless product.has_only_default_variant %}
    <div class="product-detail-block d-none">
      {% for option in product.options_with_values %}
        <div class="selector-wrapper js product-form__item">
          <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
            {% for value in option.values %}
              <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
        </div>
      {% endfor %}
    </div>
{% endunless %}
<select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js d-none">
  {% for variant in product.variants %}
    {% if variant.available %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
        {{ variant.title }}
      </option>
    {% else %}
      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
    {% endif %}
  {% endfor %}
</select>
<div class="sticky-add-cart">
    <div class="sticky-left">
        <div class="thumbnail thumbnail-horizontal mb-0">
            <div class="thumbnail-image thumbnail-image-sm thumbnail-image-bordered">
                {%- assign max_height = 70 -%}
                {% capture img_id %}content-image-{{ section.id }}-{{ product.id }}{% endcapture %}
                  {% capture wrapper_id %}content-image-wrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
                  {%- assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                  {% unless featured_image == blank %}
                    {% include 'image-style' with image: featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
                  {% endunless %}

                  <div id="{{ wrapper_id }}" class="content-image-wrapper">
                    <div style="padding-top:{% unless featured_image == blank %}{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
                        <a href="{{ collection.url }}">
                            <img id="{{ img_id }}"
                            class="content-image lazyload"
                            src="{{ featured_image | img_url: '300x300' }}"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ featured_image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="">
                        </a>
                    </div>
                  </div>
            </div>
            <div class="thumbnail-desc">
                <h4 class="text-lg mb-1 line-height-xs"><strong class="font-weight-black">{{ product.title }}</strong></h4>
                <div class="product-price product-price-sticky mb-0">
                    {% include 'product-price', variant: current_variant %}
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-right">
        <div class="d-flex">
            {% if section.settings.show_quantity_selector %}
                <div class="flex-shrink-0 pr-3">
                    <div class="product-qty">
                        <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="form-control form-control-lg" pattern="[0-9]*">
                    </div>
                </div>
            {% endif %}
            <div class="flex-grow-1">
                <button type="submit" name="add" id="AddToCartSticky" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn-primary btn-shadow btn-lg btn-block">
                    {% include 'icon-cart-2' %}
                    <span id="AddToCartText">
                        {% unless current_variant.available %}
                            {{ 'products.product.sold_out' | t }}
                        {% else %}
                            {{ 'products.product.add_to_cart' | t }}
                        {% endunless %}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endform %}

{% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
    </script>
{% endunless %}



{% schema %}
{
    "name": "Product pages",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_zoom",
            "label": "Enable Image Zoom",
            "default": true
        },
        {
            "type": "header",
            "content": "Product Details"
        },
        {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "Show quantity selector",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
        },
        {
            "type": "header",
            "content": "Promo List"
        },
        {
            "type": "richtext",
            "id": "promo_text_1",
            "label": "Info"
        },
        {
            "type": "richtext",
            "id": "promo_text_2",
            "label": "Info"
        },
        {
            "type": "richtext",
            "id": "promo_text_3",
            "label": "Info"
        }
    ]
}
{% endschema %}

