{% assign hasUpsells = false %}
{% unless product.metafields.global.related_products == blank %}
    {% assign hasUpsells = true %}
{% endunless %}
<div class="clearfix"></div>

{% if hasUpsells %}
<form method="post" action="/cart/add" accept-charset="UTF-8" id="product-upsell-form" class="product-upsell-form" enctype="multipart/form-data">

    {% comment %} Main Product {% endcomment %}
    <input type="hidden" class="input-checkbox input-mainProduct" {% if product.selected_or_first_available_variant.available %}checked{% else %}disabled{% endif %} name="id[]" value="{{ product.selected_or_first_available_variant.id }}">

    <div class="block-content">
        <div class="container">
            <div class="heading-intro text-center">
                <h2 class="h3"><strong class="font-weight-black">Pairs well with</strong></h2>
            </div>
            <div class="product-grid-3-col-ipad product-grid">
                <div class="row grid product-upsell-grid">
                    <div class="grid-sizer col-6 col-md-4 col-lg-3"></div>
                    {% assign product_handle_arr = product.metafields.global.related_products | split:"||" %}
                    {% for p in product_handle_arr %}
                        {% assign handle = p | split:'?' | first %}
                        {% assign item = all_products[handle] %}
                        {% assign is_item_available = false %}

                        {% if p contains '?variant' %}
                            {% assign selected_variant_id = p | split:'?variant=' | last | times:1 %}
                            {% assign is_first_variant = false %}
                            {% if item.available %}
                                {% assign is_item_available = true %}
                            {% endif %}
                        {% else %}
                            {% assign selected_variant_id = item.variants.first.id %}
                            {% assign is_first_variant = true %}
                            {% if item.variants.first.available %}
                                {% assign is_first_available = true %}
                                {% assign is_item_available = true %}
                            {% else %}
                                {% assign is_first_available = false %}
                                {% assign is_item_available = false %}
                            {% endif %}
                        {% endif %}

                        {% if is_item_available %}
                            <div class="grid-item col-6 col-md-4 col-lg-3 item">
                                <input type="hidden" name="properties[Pairs well with]" class="input-radio-property" value="{{ product.title }}" id="property-item-{{ forloop.index }}">
                                {%- assign max_height = 200 -%}
                                <div class="panel">
                                    <div class="panel-content thumbnail thumbnail-product anim-image">
                                        <div class="thumbnail-image">
                                            {% capture img_id %}ProductCardImage-{{ section.id }}-{{ item.id }}{% endcapture %}
                                            {%- assign img_url = item.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                            {% if item.featured_image != blank %}
                                                {% if forloop.first %}
                                                    <img id="{{ img_id }}"
                                                        class="lazyload image-{{ selected_variant_id }}"
                                                        src="{{ item.featured_image | img_url: '1000x1000' }}"
                                                        data-src="{{ img_url }}"
                                                        data-widths="[500, 1000, 1500, 2000, 2500, 3000, 3500]"
                                                        data-aspectratio="{{ item.featured_image.aspect_ratio }}"
                                                        data-sizes="auto"
                                                        alt="{{ item.title }}">
                                                {% else %}
                                                    <img id="{{ img_id }}"
                                                        class="lazyload image-{{ selected_variant_id }}"
                                                        src="{{ item.featured_image | img_url: '400x400' }}"
                                                        data-src="{{ img_url }}"
                                                        data-widths="[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]"
                                                        data-aspectratio="{{ item.featured_image.aspect_ratio }}"
                                                        data-sizes="auto"
                                                        alt="{{ item.title }}">
                                                {% endif %}
                                            {% else %}
                                                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% endif %}
                                        </div>
                                        <div class="thumbnail-desc">
                                            <p>{{ item.title }}</p>
                                            <div id="amount-{{ forloop.index }}" class="product-price">
                                                {{ item.selected_or_first_available_variant.price | money }}
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %}
                                    <input type="hidden" id="quantity-{{ forloop.index }}" value="1">
                                    {% endcomment %}
                                    <div class="input-checkbox-wrap">
                                        <input type="checkbox" class="input-checkbox" data-index="{{ forloop.index }}" id="variant-id-{{ forloop.index }}" checked name="id[]" value="{{ selected_variant_id | times: 1 }}" data-property="Pairs well with">
                                        <label for="variant-id-{{ forloop.index }}"  data-price="{{ item.selected_or_first_available_variant.price }}" class="input-checkbox-label" title="{{ item.selected_or_first_available_variant.title }}">
                                            <span class="icon-checkbox"></span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% comment %}
            <div class="product-single__upsell-total text-center" data-subtotal ="{{subtotal}}">
                Total <span class="total-amount">{{ total | money }}</span>
            </div>
            {% endcomment %}
            <div class="product-form__item product-form__item--submit text-center">
                <button type="submit" name="add" id="AddToCart-product-upsell" class="bulkAddToCart btn product-form__cart-submit-upsell" class="btn btn-primary btn-shadow btn-md btn-block">
                    {% include 'icon-cart-2' %}
                    <span id="AddToCartText-product-upsell">Add all to cart</span>
                </button>
            </div>
        </div>
    </div>
    <div id="loading" class="text-center" style="display:none;">Loading</div>
</form>
{% endif %}