{% include 'promo-icons' %}

{% schema %}
	{
		"name": "Promo icons",
		"settings": [
			{
				"type": "paragraph",
				"content": "Promo Icons is editable through Theme Settings."
			}
		],
		"presets": [
            {
                "name": "Promo icons",
                "category": "Headphones Sections"
            }
        ]
	}
{% endschema %}