{% if section.settings.show_related_products == true %}
<div class="block bg-gray-lighter" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
      <div class="block-content">
            <div class="container">
                {% if section.settings.related_title != blank %}
                    <div class="heading-intro text-center">
                        <h2 class="h3"><strong class="font-weight-black">{{ section.settings.related_title }}</strong></h2>
                    </div>
                {% endif %}
            {% comment %}
              Number of related items per row,
              and number of rows.
            {% endcomment %}

            {% assign number_of_related_products_per_row = section.settings.related_grid_num %}
            {% assign number_of_rows = section.settings.related_grid_row %}

            {% comment %}
              Heading.
              Leave blank if you don't need one.
            {% endcomment %}

            {% assign heading = section.settings.related_title %}

            {% comment %}
              Set either or both to true, if you want
              to limit yourself to items with same vendor, and/or type.
            {% endcomment %}

            {% assign same_vendor = false %}
            {% assign same_type = false %}

            {% comment %}
              Collections to ignore.
              Never pick related items from those.
            {% endcomment %}

            {% assign exclusions = 'frontpage, all' | split: ',' %}

            {% comment %}
              Looking for a relevant collection.
            {% endcomment %}

            {% if product.metafields.c_f['Related Products'] %}
              {% assign collection = collections[product.metafields.c_f['Related Products']] %}
            {% endif %}

            {% assign found_a_collection = false %}
            {% if collection and collection.all_products_count > 1 %}
              {% unless exclusions contains collection.handle %}
                {% assign found_a_collection = true %}
              {% endunless %}
            {% endif %}
            {% unless found_a_collection %}
              {% for c in product.collections %}
                {% unless exclusions contains c.handle or c.all_products_count < 2 %}
                  {% assign found_a_collection = true %}
                  {% assign collection = c %}
                  {% break %}
                {% endunless %}
              {% endfor %}
            {% endunless %}

            {% comment %}
              If we have a relevant collection.
            {% endcomment %}

            {% if found_a_collection %}

            {% capture related_items %}
                {% for product in collection.products limit: section.settings.product_limit %}
                    {% unless product.handle == current_product.handle %}
                    {% unless same_vendor and current_product.vendor != product.vendor %}
                    {% unless same_type and current_product.type != product.type %}
                    <div class="grid-item col-6 col-md-4 col-lg-3">
                        {%- assign max_height = 200 -%}
                        {% include 'product-grid' %}
                    </div>
                    {% assign counter = counter | plus: 1 %}
                    {% if counter == break_at %}
                    {% break %}
                    {% endif %}
                    {% endunless %}
                    {% endunless %}
                    {% endunless %}
                {% endfor %}
            {% endcapture %}

              {% assign related_items = related_items | trim %}

              {% unless related_items == blank %}

                <div class="product-grid-3-col-ipad product-grid">
                    <div class="row grid">
                        <div class="grid-sizer col-6 col-md-4 col-lg-3"></div>
                        {{ related_items }}
                    </div>
                </div>

              {% endunless %}
                 
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Related products",
  "settings": [
    {
        "type": "checkbox",
        "id": "show_related_products",
        "label": "Show related products",
        "default": false
    },
    {
     
        "type": "text",
        "id": "related_title",
        "label": "Section title",
        "default": "Related Products"
    },
    {
        "type": "range",
        "id": "product_limit",
        "label": "Product Limit",
        "min": 4,
        "max": 12,
        "step": 4,
        "default": 4
    }
  ]
}
{% endschema %}