<div class="block bg-gray-lighter">
	<div class="block-content">
		<div class="container">
			{% if section.settings.title != blank %}
				<div class="heading-intro text-center">
					<span class="subtitle">{{ section.settings.subtitle }}</span>
					<h2 class="h3"><strong class="font-weight-black">{{ section.settings.title }}</strong></h2>
				</div>
			{% endif %}
		</div>
		<div class="brand-slider slider-panel">
			<div class="slider">
				{% for product_vendor in shop.vendors %}
					{% assign its_a_match = false %}
                    {% capture vendorHandle %}{{ product_vendor | handleize | strip | escape  }}{% endcapture %}
                    {% assign collectionHandle = vendorHandle | strip | escape %}
                    {%- assign collection = collections[collectionHandle] -%}
                    
                    {% for collection in collections %}
                        {% if collectionHandle == collection.handle %}
                            {% assign its_a_match = true %}
                        {% endif %}
                    {% endfor %}

                    {% if collection.image %}
                        {%- assign collection_image = collection.image -%}
                    {% else collection.products.first and collection.products.first.images != empty %}
                        {%- assign collection_image = collection.products.first.featured_image -%}
                    {% else %}
                        {% assign collection_image = blank %}
                    {% endif %}
					<div class="slide">
						{% if its_a_match %}
                            <a href="{{ collection.url }}" class="panel">
                                <div class="panel-content thumbnail thumbnail-brand anim-image">
                                    <div class="thumbnail-image">
                                        <div class="image-wrapper">
                                            <img class="image-inner lazyload js"
                                                src="{{ collection_image | img_url: '300x300' }}"
                                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                data-aspectratio="{{ collection_image.aspect_ratio }}"
                                                alt="{{ collection.title | escape }}">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a href="{{ product_vendor | url_for_vendor }}" class="panel h5">
                                <div class="panel-content thumbnail thumbnail-brand anim-image">
                                    <div class="thumbnail-image">
                                        <strong>{{ product_vendor }}</strong>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>


{% schema %}
	{
		"name": "Shop brand",
		"settings": [
			{
				"type": "text",
				"id": "subtitle",
				"label": "Subtitle"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Heading"
			}
		],
		"presets": [
            {
                "name": "Shop brand",
                "category": "Headphones Sections"
            }
        ]
	}
{% endschema %}