{%- assign collection = collections[section.settings.collection] -%}
<div class="block bg-gray-lighter">
	<div class="block-content">
		<div class="container">
			{% if section.settings.title != blank %}
				<div class="d-flex justify-content-center justify-content-md-start text-center text-md-left heading-intro">
					<div class="align-self-center">
						<span class="subtitle">{{ section.settings.subtitle }}</span>
						<h2 class="h3"><strong class="font-weight-black">{{ section.settings.title }}</strong></h2>
					</div>
					<div class="align-self-center ml-auto text-right d-none d-md-block">
						<a href="/collections/all" class="shop-btn">{{ 'general.filters.shop_all' | t  }} {% include 'icon-circle-arrow' %}</a>
					</div>
				</div>
			{% endif %}
			<div class="product-grid-3-col-ipad product-grid">
				<div class="row grid">
					<div class="grid-sizer col-6 col-md-4 col-lg-3"></div>
					{% for product in collection.products limit: section.settings.product_limit %}
                        {%- assign max_height = 200 -%}
						<div class="grid-item col-6 col-md-4 col-lg-3">
							{% include 'product-grid' %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="text-center d-md-none pt-5">
				<a href="/collections/all" class="shop-btn">{{ 'general.filters.shop_all' | t  }} {% include 'icon-circle-arrow' %}</a>
			</div>
		</div>
	</div>
</div>


{% schema %}
	{
		"name": "Shop new arrival",
		"max_blocks": 6,
		"settings": [
			{
				"type": "text",
				"id": "subtitle",
				"label": "Subtitle"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Heading"
			},
			{
				"type": "header",
				"content": "Product Info"
			},
			{
				"type": "collection",
				"id": "collection",
				"label": "Collection"
			},
			{
				"type": "range",
				"id": "product_limit",
				"label": "Product Limit",
				"min": 4,
				"max": 12,
				"step": 4,
				"default": 4
			}
		],
		"blocks": [
			{
				"type": "featured_collection",
				"name": "Category",
				"settings": [
					{
						"type": "collection",
						"id": "collection",
						"label": "Collection"
					}
				]
			}
		],
		"presets": [
            {
                "name": "Shop new arrival",
                "category": "Headphones Sections"
            }
        ]
	}
{% endschema %}