
<div class="block bg-gray-lighter">
	<div class="block-content">
		<div class="container">
			{% if section.settings.title != blank %}
				<div class="heading-intro text-center">
					<span class="subtitle">{{ section.settings.subtitle }}</span>
					<h2 class="h3"><strong class="font-weight-black">{{ section.settings.title }}</strong></h2>
				</div>
			{% endif %}
			<div class="featured-categories grid-panel-offset">
				{% for block in section.blocks limit: section.block.size  %}
					{% assign collection = collections[block.settings.collection] %}
					{% if collection.image %}
						{% assign collection_image = collection.image %}
					{% elsif collection.products.first and collection.products.first.images != empty %}
						{%- assign collection_image = collection.products.first.featured_image -%}
					{% else %}
						{% assign collection_image = blank %}
					{% endif %}
					<div class="category-list" {{ block.shopify_attributes }}>
						<div class="category-panel">
							<a href="{{ collection.url }}" class="thumbnail anim-image text-center text-black">
								<div class="thumbnail-image">
									{% capture img_id %}content-image-{{ collection.id }}{% endcapture %}
									  {% capture wrapper_id %}content-image-wrapper-{{ collection.id }}{% endcapture %}
									  {%- assign img_url = collection_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

									  {% unless collection_image == blank %}
									    {% include 'image-style' with image: collection_image, width: 140, height: 135, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
									  {% endunless %}

									  <div id="{{ wrapper_id }}" class="content-image-wrapper">
									    <div class="content-image-inner" style="padding-top:{% unless collection_image == blank %}{{ 1 | divided_by: collection_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
									      	<img id="{{ img_id }}"
									            class="content-image lazyload js"
									            src="{{ collection_image | img_url: '300x300' }}"
									            data-src="{{ img_url }}"
									            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
									            data-aspectratio="{{ collection_image.aspect_ratio }}"
									            data-sizes="auto"
									            data-parent-fit="contain"
									            alt="{{ collection_image.alt | escape }}" style="{% if collection_image.aspect_ratio < 1.0 %}max-width: 100%; width: auto;{% else %}width: 100%;{% endif %}">
									    </div>
									  </div>
								</div>
								<div class="thumbnail-desc">
									<strong>{{ collection.title }}</strong>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>


{% schema %}
	{
		"name": "Shop categories",
		"max_blocks": 6,
		"settings": [
			{
				"type": "text",
				"id": "subtitle",
				"label": "Subtitle"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Heading"
			}
		],
		"blocks": [
			{
				"type": "featured_collection",
				"name": "Category",
				"settings": [
					{
						"type": "collection",
						"id": "collection",
						"label": "Collection"
					}
				]
			}
		],
		"presets": [
            {
                "name": "Shop categories",
                "category": "Headphones Sections"
            }
        ]
	}
{% endschema %}