<div class="block">
    <div class="block-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 center-block mx-auto">
                    <div class="heading-intro text-center">
                        <h1><strong class="font-weight-black">{{ page.title }}</strong></h1>
                    </div>
                    {% if page.content.size > 0 %}
                        <div class="rte">
                            {{ page.content }}
                        </div>
                    {% endif %}
                    <div class="contact-form">
                        {%- assign formId = 'ContactForm' -%}
                        {% form 'contact', id: formId %}
                            {% if form.posted_successfully? %}
                                <div class="note form-message--success mb-4">
                                    {{ 'contact.form.post_success' | t }}
                                </div>
                            {% endif %}
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'contact.form.name' | t }}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" id="{{ formId }}-email" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'contact.form.email' | t }}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="tel" id="{{ formId }}-phone" name="contact[phone]" data-rule-number="true" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'contact.form.phone' | t }}" class="phone-input" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="{{ formId }}-name" name="contact[subject]" value="{{ form[subject] }}" placeholder="{{ 'contact.form.subject' | t }}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea rows="8" id="{{ formId }}-message" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
                            </div>
                            <div class="text-center pt-2">
                                <input type="submit" class="btn btn-secondary btn-fw btn-uppercase" value="{{ 'contact.form.submit' | t }}">
                            </div>
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ 'jquery.validate.min.js' | asset_url | script_tag }}
<script>

    $('#ContactForm').validate({
        submitHandler: function(form) {
            form.submit();
        },
        showErrors: function() {
            this.defaultShowErrors();
        }
    });
</script>