<div class="block bg-gray-lighter cryptopay-success">
	<div class="block-content fullscreen d-flex flex-column px-4">
		<div class="text-center flex-shrink-0">
			<p class="mb-4"><a href="/" class="logo-image">headphones.com</a></p>
		</div>
		<div class="row flex-grow-1 d-flex">
			<div class="col-lg-5 col-md-6 col-sm-8 mx-auto text-center align-self-center">
				<div class="heading-intro text-center">
	                <h3><strong class="font-weight-black">Success!</strong></h3>
	                <p>Please check your email to finish the order!</p>
	                <a href="/" class="btn btn-primary btn-lg btn-fw">Back to Shop</a>
	            </div>
			</div>
		</div>
	</div>
</div>