<div class="block">
    <div class="block-content">
        <div class="container">
            <div class="heading-intro text-center">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>