{% paginate search.results by 10 %}

<div class="page-width">
  {% if search.performed == false %}
    <div class="text-center">
      <div class="heading-intro">
        <h1>{{ 'general.search.title' | t }}</h1>
      </div>
  {% else %}
    <div class="section-header text-center">
      <div class="heading-intro">
        <h1>
          <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
          {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        </h1>
      </div>
  {% endif %}
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/search" method="get" role="search" class="search">
            <div aria-live="polite" class="form-message form-message--error search-result-error-message hide" data-search-error-message>
              <ul id="error-search-form">
                <li>{{ 'general.search.empty_search_message' | t }}</li>
              </ul>
            </div>

            <div class="input-group">
              <input type="search" id="SearchInput" class="form-control search__input" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}"
                >
              <div class="input-group-append">
                <button id="SearchResultSubmit" class="btn btn-primary search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      {% if search.performed and search.results_count == 0 %}
        <hr class="hr--small hr--invisible" aria-hidden="true" />
        <div class="rte">
          <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
        </div>
      {% endif %}
  </div>

  {% if search.performed %}
    {% if search.results_count > 0 %}
      <hr aria-hidden="true" />
    {% endif %}
    <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
    <ul class="list-view-items">
      {% for item in search.results %}
        <li class="list-view-item">
            {% if item.object_type == 'product' %}
              {% include 'product-card-list', product: item %}
            {% else %}
              <div class="product-card product-card--list">
                <a href="{{ item.url }}" class="full-width-link">
                  <span class="visually-hidden">{{ item.title }}</span>
                </a>
                <div class="list-view-item__link">
                  {% if item.image %}
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper product-card__image-wrapper">
                        <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                      </div>
                    </div>
                  {% endif %}

                  <div class="list-view-item__title-column">
                    <div class="list-view-item__title" aria-hidden="true">
                      <span class="product-card__title">{{ item.title }}</span>
                    </div>
                    <div>
                      {% if item.published_at %}{{ item.published_at | date: "%b %d, %Y" }} &#8212; {% endif %}
                      {{ item.content | strip_html | truncate: 200 }}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endif %}


</div>




{% endpaginate %}
